<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-expertises">
    <%- include('includes/header'); %>
    <header class="g-masthead" style="background-image: url(/dist/images/expertises/accompagnement-comptable-financier.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-expertise">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3 class="paragraph-title"><span class="sitename">21 Galaxy</span> : Le cordon de la bourse </h3>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Élaborer une information financière de qualité</div>
                                    <div class="content collapse">
                                        <ul class="g-ul arrow-right">
                                            <li>
                                                Délivrer une information pertinente au service de la stratégie ;
                                            </li>
                                            <li>
                                                Sécuriser l’information financière ;
                                            </li>
                                            <li>
                                                Gérer les aspects comptables, fiscaux et règlementaires d’opérations complexes ;
                                            </li>
                                            <li>
                                                Réhabiliter le processus comptable et financier ;
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Mettre en oeuvre des projets de réorganisation et d’optimisation</div>
                                    <div class="content collapse">
                                        <ul class="g-ul arrow-right">
                                            <li>
                                                Mettre en place des dispositifs de maîtrise des risques comptables et règlementaires ;
                                            </li>
                                            <li>
                                                Optimiser les processus de « back-office », de comptabilité et de reporting consolidé ;
                                            </li>
                                            <li>
                                                Rationaliser et unifier le reporting de gestion ;
                                            </li>
                                            Réduire les coûts de la fonction comptable et administrative ;
                                            <li>
                                                Mettre en place et optimiser un CSP comptable et administratif ;
                                            </li>
                                            <li>
                                                Externaliser la fonction comptable et financière ;
                                            </li>
                                            <li>
                                                Réduire les délais de clôture et de publication financière
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Élaborer une information financière de qualité</div>
                                    <div class="content collapse">
                                        <ul class="g-ul arrow-right">
                                            <li>
                                                Délivrer une information pertinente au service de la stratégie ;
                                            </li>
                                            <li>
                                                Sécuriser l’information financière ;
                                            </li>
                                            <li>
                                                Gérer les aspects comptables, fiscaux et règlementaires d’opérations complexes ;
                                            </li>
                                            <li>
                                                Réhabiliter le processus comptable et financier ;
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    <div class="font-italic font-weight-bold">A noter</div>
                                    <div class="font-italic">
                                        Soucieux d’intégrer les préoccupations environnementales, sociales
                                        et éthiques de notre société dans ses activités, 21 Galaxy s’est engagé dans une
                                        démarche de Responsabilité Sociétale des Entreprises (RSE). Par la mise en place
                                        d’une charte, le cabinet réaffirme son engagement à promouvoir dans ses activités,
                                        et auprès de ses salariés, clients et fournisseurs les principes suivants :
                                        la protection de l’environnement, le respect des droits de l’Homme et des
                                        normes du travail, la promotion d’une pratique professionnelle éthique,
                                        conforme aux principes déontologiques et de transparence les plus élevés de la profession.
                                    </div>
                                </p>
                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/expertises.js"></script>

</html>