<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-expertises">
    <%- include('includes/header'); %>
    <header class="g-masthead" style="background-image: url(/dist/images/expertises/conseil-1.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-expertise">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3 class="paragraph-title"><span class="sitename">21 Galaxy</span> : à vos côté/votre conseiller personnel</h3>
                                <p>
                                    Nos équipes assistent et conseillent les acteurs privés et public à aligner leurs organisations
                                    sur leurs stratégies et à réussir leurs transformations, pour une meilleure performance globale.
                                </p>
                                <h3>La valeur ajoutée de l’activité consulting de 21 galaxy</h3>
                                <ul class="g-li">
                                    <li>Une vision globale et opérationnelle des leviers de transformation</li>
                                    <li>Des solutions innovantes</li>
                                    <li>Des propositions pragmatiques et personnalisées</li>
                                    <li>
                                        Une approche intégrée des vecteurs de croissance et de rentabilité : optimisation,
                                        restructuration, innovation et résilience
                                    </li>
                                </ul>

                                <h3>
                                    Nos équipes ont développé des expertises sectorielles pointues et sont organisées
                                    en quatre pôles sectoriels au niveau mondial :
                                </h3>
                                <ul class="g-li">
                                    <li>Services financiers</li>
                                    <li>Secteur Public</li>
                                    <li>Industrie</li>
                                    <li>Services</li>
                                </ul>
                                <h3>
                                    Nous combinons à la fois des expertises sectorielles et fonctionnelles et proposons
                                    une palette de compétences complète
                                </h3>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Management de transition</div>
                                    <div class="content collapse">
                                        <p>
                                            Experts des métiers financiers, l'équipe dédiée au management de transition de
                                            <span class="sitename">21 Galaxy</span> met en relation les directions financières avec
                                            les meilleurs profils expérimentés pour les accompagner dans leurs projets.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Ethique et conformité</div>
                                    <div class="content collapse">
                                        <p>
                                            La compliance est aujourd’hui un enjeu majeur pour les entreprises en raison des
                                            conséquences pénales, financières et de réputation qu’elle peut engendrer.
                                        </p>
                                        <p>
                                            La compliance permet le respect des normes, réglementation et conventions applicables
                                            à l’entreprise par l’ensemble de ses salariés et dirigeants mais aussi des valeurs et
                                            d’un esprit éthique insufflé par les dirigeants.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Développement international</div>
                                    <div class="content collapse">
                                        <p>
                                            21 Galaxy dispose de nombreux experts et "desks" dédiés à l'accompagnement
                                            d'entreprises souhaitant se développer à l'étranger.
                                        </p>
                                    </div>
                                </div>

                                <p>
                                    <div class="font-italic font-weight-bold">A noter</div>
                                    <div class="font-italic">
                                        Soucieux d’intégrer les préoccupations environnementales, sociales
                                        et éthiques de notre société dans ses activités, 21 Galaxy s’est engagé dans une
                                        démarche de Responsabilité Sociétale des Entreprises (RSE). Par la mise en place
                                        d’une charte, le cabinet réaffirme son engagement à promouvoir dans ses activités,
                                        et auprès de ses salariés, clients et fournisseurs les principes suivants :
                                        la protection de l’environnement, le respect des droits de l’Homme et des
                                        normes du travail, la promotion d’une pratique professionnelle éthique,
                                        conforme aux principes déontologiques et de transparence les plus élevés de la profession.
                                    </div>
                                </p>
                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/expertises.js"></script>

</html>