<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-expertises">
    <%- include('includes/header'); %>
    <header class="g-masthead" style="background-image: url(/dist/images/expertises/digital.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-expertise">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3> <span class="sitename">21 Galaxy</span> partenaire de votre efficacité numérique</h3>

                                <div class="font-weight-bold">
                                    <div>
                                        La digitalisation des métiers tel que le juridique, la comptabilité et l’audit
                                        est un tournant dans notre économie.
                                    </div>
                                    <div>
                                        Le marché du digital est en plein expansion et représente un véritable vivier de
                                        croissance pour votre entreprise.
                                    </div>
                                    <p>
                                        Les experts de <span class="sitename">21 Galaxy</span> vous accompagnent dans l’implantation et le décollage de
                                        votre projet.
                                    </p>
                                    <p>
                                        Nous avons coeur à faire du digital un lieu qui bonifie votre activité et l’être humain.
                                    </p>
                                    <p>
                                        Le digital n’est pas un effet de mode. Nous vous délivrons une performance durable.
                                        Nous vous aidons à tirer le meilleur du Marketing pour le développement de votre entreprise
                                    </p>
                                </div>
                                <div class="g-collapsible-paragraph">
                                    <div class="title">Digital </div>
                                    <div class="content collapse">
                                        <p>
                                            Territoire nouveau et en forte expansion, le digital est une solution pour faire grandir
                                            votre entreprise sainement et dans la durée/lui apporter une longévité.
                                        </p>
                                        <p>
                                            Les experts 21 Galaxy vous offrent le meilleur de leur expérience afin de digitaliser
                                            votre entreprise et augmenter votre visibilité.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Marketing Digital/E-commerce</div>
                                    <div class="content collapse">
                                        <p class="font-weight-bold">
                                            La visibilité des entreprises, des marques et des produits ou services passe désormais par
                                            Internet. L’orientation client vise à favoriser l’engagement client, dans le parcours
                                            digitalisé qui est devenu le sien. Comment et pourquoi est-il nécessaire d’optimiser et
                                            de valoriser sa stratégie digitale BtoB et BtoC ? Comment assurer le succès digital de
                                            l’entreprise au travers d’une stratégie efficiente et un plan d’actions e-marketing cohérent
                                            et pertinent ?
                                        </p>
                                        <ul class="g-li">
                                            <li>
                                                <span class="g-li-title">Maîtrise et valorisation des outils de publicité digitale :</span>
                                                Google Ads, Facebook Ads et Linkedin Ads
                                            </li>
                                            <li>
                                                <span class="g-li-title">Audit E-commerce :</span>
                                                <span class="sitename">21 Galaxy</span> opère un diagnostic stratégique pour analyser les forces
                                                et faiblesses de votre site, et d’anticiper les tendances du marché afin de concrétiser vos
                                                opportunités en avantage commercial.
                                            </li>
                                            <li>Saisir les opportunités du marketing digital</li>
                                            <li>Développer votre activité sur le web</li>
                                            <li>Optimiser la présence de votre entreprise ou marque sur le web</li>
                                            <li>Echanger avec un expert sur vos problématiques digitales</li>
                                            <li>Analyser la présence de votre entreprise sur le web</li>
                                            <li>Réaliser un diagnostic de vos outils et de votre communication digitale (site internet, réseaux sociaux…)</li>
                                            <li>Identifier ensemble les opportunités d’optimisation de vos outils et de votre communication digitale</li>
                                            <li>Un avis d’expert pour dresser le bilan de votre présence digitale</li>
                                            <li>Des conseils avisés pour optimiser votre présence en ligne</li>
                                            <li>Des recommandations adaptées pour développer votre stratégie digitale</li>
                                        </ul>

                                        <p class="font-weight-bold">
                                            Public concerné : Artisan, Start-up, TPE, PME et grandes entreprises.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">E-commerce</div>
                                    <div class="content collapse">
                                        <p class="font-weight-bold">
                                            <span class="sitename">21 Galaxy</span> vous confère l’opportunité à ses clients d’accélérer leur 
                                            transformation digitale. <span class="sitename">21 Galaxy</span> qui rassemble le savoir-faire 
                                            d’experts numériques et de consultants chevronnés, aide avec adresse et réactivité ses 
                                            clients à redéfinir leur stratégie digitale.
                                        </p>
                                        <p>
                                            <span class="sitename">21 Galaxy</span> Marketing met à votre disposition des experts dans chaque canal numérique clé. 
                                        </p>
                                        <p>
                                            De la conception Web et du référencement au contenu et au développement de vos réseaux sociaux, 
                                            nous travaillons avec vous pour vous garantir les meilleurs résultats, quelle que soit votre 
                                            campagne .
                                        </p>
                                        <p>
                                            Et si nous pouvions obtenir une performance légèrement supérieure à celle d’hier? 
                                            Tout ce que nous créons, des stratégies numériques aux marques, en passant par les sites Web, 
                                            les contenus et les programmes de marketing numérique, est conçu pour continuer à s'améliorer. 
                                            Nous le faisons en humanisant les données, via des solutions personnalisées et en utilisant 
                                            une résolution de problèmes créative et itérative. Parce que le véritable impact numérique 
                                            nécessite créativité et artisanat.
                                        </p>
                                        <p>
                                            <a class="font-weight-bold" href="/contact">
                                                Contactez nous pour toute demande creative
                                            </a> 
                                            (conseils, design, digital, éditorial)
                                        </p>
                                        <div class="g-button-text-wrapper">
                                            <span class="g-button-text">Nous y allons ensemble !</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/expertises.js"></script>

</html>