<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-expertises">
    <%- include('includes/header'); %>
    <header class="g-masthead bg-top" style="background-image: url(/dist/images/expertises/fiscalite.jpeg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-expertise">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h1><span class="sitename">21 Galaxy</span> : au coeur de la fiscalité</h1>
                                <h2>Fiscalite des entreprises</h2>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Prix de transfert</div>
                                    <div class="content collapse">
                                        <p>
                                            Les prix de transfert sont un sujet incontournable du fait de la digitalisation de l’économie,
                                            de l’attention accrue des administrations fiscales à ces sujets, des projets internationaux
                                            de refonte de la fiscalité des groupes et de leur complexité.
                                        </p>
                                        <p>
                                            L’équipe prix de transfert de 21 Galaxy est composée de vingt deux économistes et/ou avocats
                                            qui vous accompagnent dans les domaines suivants :
                                        </p>
                                        <ul class="g-li">
                                            <li>Analyser les risques inhérents à des politiques de prix de transfert</li>
                                            <li>Définir, documenter et présenter à l’administration les politiques retenues en tenant
                                                compte des évolutions des réglementations mais également des impacts en matière de TVA
                                                ou de douanes
                                            </li>
                                            <li>
                                                Valoriser des actifs incorporels, des titres ou des activités dans le cadre de
                                                transactions intragroupes
                                            </li>
                                            <li>Sensibiliser vos équipes à ces problématiques à l’occasion de formations ad hoc</li>
                                            <li>Vous assister dans la gestion des contrôles fiscaux et le règlement des différends et
                                                assistance dans le cadre de contentieux fiscaux
                                            </li>
                                            <li>Négocier des accords préalables en matière de prix de transfert</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">TVA et taxes indirectes</div>
                                    <div class="content collapse">
                                        <p>
                                            Avec plus de 30 avocats spécialisés en TVA et taxes indirectes sur l’ensemble du territoire,
                                            nous répondons aux interrogations de nos clients, privés comme publics, français comme étrangers.
                                        </p>
                                        <p>
                                            Notre équipe s’appuie sur un réseau de spécialistes internationaux et apporte une assistance
                                            évolutive adaptée aux enjeux technologiques (paramétrage de systèmes d’information, piste
                                            d’audit fiable).
                                        </p>
                                        <p>
                                            Grâce à nos relais auprès des instances européennes et notre engagement dans les associations
                                            professionnelles, nous œuvrons pour faire évoluer les réglementations vers plus de simplicité
                                            et de visibilité.
                                        </p>
                                        <p>
                                            Nous accompagnons nos clients lors des vérifications de comptabilité et pour
                                            toutes les phases du contentieux fiscal.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Fiscalité de la recherche et du développement</div>
                                    <div class="content collapse">
                                        <p>
                                            Objet de nombreuses mesures fiscales incitatives, l’innovation constitue un enjeu clef
                                            de compétitivité, de la start-up aux groupes multinationaux. Afin d’accompagner votre
                                            innovation, nos avocats Fidal spécialisés travaillent en parfaite osmose avec des ingénieurs
                                            et des scientifiques de haut niveau dédiés à la valorisation de la R&D et vous proposent
                                            une offre unique et complète en la matière.
                                        </p>
                                        <p>
                                            Gestion fiscale des activités lucratives liées à la R&D (CIR, CII ou autres aides à la
                                            mobilisation de ressources), sécurisation et accompagnement lors de contrôles, ou encore
                                            structuration d’opérations d’investissement en innovation, nos solutions sont originales
                                            et sécurisées, notre prestation est sur mesure, adaptée à vos objectifs en matière de R&D.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Sécurisation et optimisation des opérations douanières</div>
                                    <div class="content collapse">
                                        <p>
                                            Dans un contexte international en mouvement, appréhender ses flux internationaux,
                                            les optimiser et les sécuriser est un enjeu majeur de compétitivité. Le poids grandissant
                                            de la fiscalité sur le gazole, le gaz naturel, l’électricité… impose aux entreprises d’être
                                            proactives et de chercher le bénéfice de taux réduits ou d’exonérations.
                                        </p>
                                        <p>
                                            La spécificité de la fiscalité douanière sectorielle (contributions indirectes, TGAP,
                                            octroi de mer, export control...) nécessite une attention et un suivi permanents.
                                        </p>
                                        <p>
                                            Ces problématiques en pleine évolution sont le cœur d’activité de nos avocats spécialisés
                                            en droit douanier, à même d’intervenir notamment sur la structuration quotidienne de vos
                                            opérations douanières, la préparation au contrôle, ainsi que votre défense devant les
                                            tribunaux judiciaires. Bénéficiant d’un réseau international, nous vous garantissons une
                                            approche à la fois juridique et opérationnelle pour anticiper le risque douanier tout en
                                            identifiant les pistes d'optimisation.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Fiscal IT</div>
                                    <div class="content collapse">
                                        <p>
                                            Face à la dématérialisation du contrôle fiscal et aux obligations télé-déclaratives
                                            croissantes, Fidal dispose des compétences fiscales et techniques et des outils informatiques
                                            les mieux adaptés pour accompagner votre entreprise dans son évolution digitale.
                                        </p>
                                        <p>
                                            Analyse de vos FEC (fichiers des écritures comptables), sécurisation de l’archivage et de
                                            la facturation électronique, conformité des logiciels de caisse, ou encore audit à blanc et
                                            migration d’ERP : nos avocats fiscalistes dédiés aux problématiques FiscalIT sont formés
                                            aux exigences informatiques pour vous proposer des solutions pratiques et efficaces.
                                        </p>
                                        <p>
                                            L’offre mise en place par Fidal permet de répondre aux aspects tant fiscaux qu’informatiques
                                            auxquels sont confrontées les entreprises en cas de contrôle fiscal, de la mise en conformité
                                            à la réalisation de traitements informatiques permettant de poser les bases d’un contrôle
                                            interne optimisé.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Fiscalité locale</div>
                                    <div class="content collapse">
                                        <p>
                                            La fiscalité directe locale occupe une part récurrente et néanmoins croissante dans
                                            les charges des entreprises. Face au poids, à la diversité et à la complexité des taxes
                                            locales, nos experts vous accompagnent dans le cadre de démarches d’audit, de conseil ou
                                            de contentieux, en matière de contribution économique territoriale ou de taxe foncière,
                                            comme de taxes sur les surfaces commerciales ou de taxes sur les bureaux, locaux commerciaux
                                            et entrepôts en Ile-de-France.
                                        </p>
                                        <p>
                                            Au quotidien comme pour vos opérations de restructuration, de la détermination des valeurs
                                            locatives au calcul de la valeur ajoutée, notre démarche est proactive et vous permet
                                            d’appréhender au mieux les conséquences fiscales de vos opérations.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Fiscalité du patrimoine</div>
                                    <div class="content collapse">
                                        <p>
                                            Complexité accrue de la fiscalité du patrimoine, renforcement et digitalisation des moyens
                                            de l’administration : l’imposition des particuliers entre dans une nouvelle ère et exige un
                                            traitement anticipé et global de vos actifs patrimoniaux.
                                        </p>
                                        <p>
                                            Conseils de proximité, nos spécialistes accompagnent les dirigeants, familles et particuliers,
                                            tant lors de la constitution du patrimoine que de sa transmission à titre onéreux ou à titre
                                            gratuit, y compris dans un contexte international. De l’audit de la situation à l’établissement
                                            des déclarations (d’impôt sur le revenu, d’impôt sur la fortune immobilière), ils assurent
                                            aussi la défense des contribuables dans les dossiers les opposant à l’administration fiscale.
                                        </p>
                                        <p>
                                            Soucieux de garantir une transmission réussie, nos professionnels accompagnent
                                            les dirigeants et actionnaires dans le choix et la mise en œuvre de solutions fiscales
                                            performantes. Nos avocats sont reconnus pour proposer des stratégies personnalisées,
                                            innovantes et sécurisées.
                                        </p>
                                        <p>
                                            Notre connaissance des problématiques entrepreneuriales et familiales, notre ingénierie fiscale,
                                            le travail avec les patrimonialistes du cabinet et nos partenaires (Fidal Fiducie, l’Office de
                                            la Madeleine…), nous permettent de proposer les solutions les mieux adaptées.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Fiscalité internationale</div>
                                    <div class="content collapse">
                                        <ul class="g-li">
                                            <li>Prix de transfert</li>
                                            <li>
                                                CbCR / Master File / Country File : La déclaration « Country by Country Reporting »
                                                (CbCR), préconisée par le plan BEPS de l’OCDE, a été introduite dans la loi de finance pour 2016
                                            </li>
                                            <li>
                                                Applicable aux exercices ouverts à partir du 1er janvier 2016, le CbCR sera déposé dans les
                                                12 mois suivants la clôture et le défaut ou retard de dépôt du CbCR sera sanctionné par une
                                                amende de 100.000€.
                                            </li>
                                            <li>
                                                Mobilité internationale et Management Package
                                            </li>
                                            <li>
                                                Stratégies fiscales internationales
                                            </li>
                                            <li>
                                                Réorganisations transfrontalières
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    <div class="font-italic font-weight-bold">A noter</div>
                                    <div class="font-italic">
                                        Soucieux d’intégrer les préoccupations environnementales, sociales
                                        et éthiques de notre société dans ses activités, 21 Galaxy s’est engagé dans une
                                        démarche de Responsabilité Sociétale des Entreprises (RSE). Par la mise en place
                                        d’une charte, le cabinet réaffirme son engagement à promouvoir dans ses activités,
                                        et auprès de ses salariés, clients et fournisseurs les principes suivants :
                                        la protection de l’environnement, le respect des droits de l’Homme et des
                                        normes du travail, la promotion d’une pratique professionnelle éthique,
                                        conforme aux principes déontologiques et de transparence les plus élevés de la profession.
                                    </div>
                                </p>
                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/expertises.js"></script>

</html>