<div class="g-footer">
    <div class="container">
        <ul class="row g-row-flex p-4">
            <li class="-item col-md-3 col-sm-6 col-12 ">
                <h5 class="">21 | Galaxy</h5>
            </li>
            <li class="-item col-md-3 col-sm-6 col-12 ">
                <h5 class="title">Légal</h5>
            </li>
            <li class="-item col-md-3 col-sm-6 col-12 ">
                <h5 class="title">Prestation</h5>
            </li>
            <li class="-item col-md-3 col-sm-6 col-12 ">
                <h5 class="title">Contact</h5>
                <div class="g-row-flex">
                    <div class="postal-adr">
                        5 Avenue Ingres, 75016 Paris
                    </div>
                    <div class="tel">
                        <div>+33 1 45 67 89 00</div>
                        <div>+33 1 45 67 89 00</div>
                    </div>
                    <div class="mail-adr">
                        <div>contact@galaxy.com</div>
                        <div>help.contact@galaxy.com</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="g-footer-bottom py-3 g-row-flex justify-content-between px-4">
        <div class="copy-right">
            © <%=new Date().getFullYear() %> Copyright :
            <a href="#"> 21 | Galaxy</a>
        </div>
        <div class="social-media">
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>