<div class="g-footer">
    <div class="container">
        <ul class="row g-row-flex pt-3 pb-2">
            <li class="footer-logo col-lg-3 col-md-6 col-sm-6 ">
                <h1 class="logo">21 | Galaxy</h1>
                <div class="sub-section">
                    <p class="pt-3">
                        Profitez d'un hub et d'un réseau d'experts
                        implanté sur 4 contients (Europe, Afrique, Asie
                        et Amerique latine) et 35 pays.
                    </p>
                </div>
            </li>
            <li class="legal col-lg-3 col-md-6 col-sm-6">
                <h5 class="title">Légal</h5>
                <div class="sub-section">
                    <a href="#">Mentions légales</a>
                </div>
                <div class="sub-section">
                    <a href="#">Protection de la vie privée et cookies</a>
                </div>
            </li>
            <li class="prestation col-lg-3 col-md-6 col-sm-6">
                <h5 class="title">Prestation</h5>
                <div class="g-row-flex">
                    <div class="sub-section">
                        <div class="wrapper">
                            Demander un rendez-vous à un expert
                            21 | Galaxy
                        </div>
                    </div>
                </div>
            </li>
            <li class="contact col-lg-3 col-md-6 col-sm-6">
                <h5 class="title">Contact</h5>
                <div class="g-row-flex">
                    <div class="sub-section">
                        <i class="g-icon pe-7s-map-marker"></i>
                        <div class="wrapper">
                            5 Avenue Ingres, 75016 Paris
                        </div>
                    </div>
                    <div class="sub-section">
                        <i class="g-icon pe-7s-call"></i>
                        <div class="wrapper">
                            <a href="tel:+33145678900">
                                +33 1 45 67 89 00
                            </a>
                            <a href="tel:+33145678900">
                                +33 1 45 67 89 00
                            </a>
                        </div>
                    </div>
                    <div class="sub-section">
                        <i class="g-icon pe-7s-mail"></i>
                        <div class="wrapper">
                            <a href="mailto:contact@galaxy.com">
                                contact@galaxy.com
                            </a>
                            <a href="mailto:help.contact@galaxy.com">
                                help.contact@galaxy.com
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="g-footer-bottom g-row-flex">
        <div class="copy-right">
            <span> Copyright © <%=new Date().getFullYear() %> </span>
            <a href="/" class="pl-2"> 21 | Galaxy</a>
        </div>
        <div class="social-media">
            <a href="#" class="icon icon-twitter">
                <i class="fab fa-twitter"></i>
                <span class="sr-only">Twitter</span>
            </a>
            <a href="#" class="icon icon-linkedin">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">LinkedIn</span>
            </a>
            <a href="#" class="icon icon-youtube">
                <i class="fab fa-youtube"></i>
                <span class="sr-only">Youtube</span>
            </a>
        </div>
    </div>
</div>