<div class="g-footer">
    <div class="container">
        <ul class="row g-row-flex pt-3 pb-2 footer-sections">
            <li class="footer-logo col-lg-3 col-md-6 col-sm-6">
                <h1 class="logo">
                    <a href="/">21 | Galaxy</a>
                </h1>
                <ul class="footer-discover-links">
                    <li>
                        <a class="footer-link" href="/decouvrir-21-galaxy/en-france">21 | Galaxy en France</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/decouvrir-21-galaxy/a-l-international">21 | Galaxy à l'international</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/decouvrir-21-galaxy/nos-equipes">Nos équipes</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/decouvrir-21-galaxy/nos-valeurs">Nos valeurs</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/decouvrir-21-galaxy/nous-rejoindre">Nous rejoindre</a>
                    </li>
                    <!-- <li>
                        <a class="footer-link" href="#">Mentions légales</a>
                    </li>
                    <li>
                        <a class="footer-link" href="#">Protection de la vie privée et cookies</a>
                    </li> -->
                </ul>
            </li>
            <li class="col-lg-3 col-md-6 col-sm-6">
                <h5 class="title">
                    <a href="/secteurs">Secteurs</a>
                </h5>
                <ul class="footer-secteurs-links">
                    <li>
                        <a class="footer-link" href="/secteurs/assurance">Assurance</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/bancaire">Bancaire</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/btp-et-immobilier">BTP & Immobilier</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/education">éducation</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/energie-et-environnement">énergie & Environnement</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/Investissements-et-innovations">Investissements & Innovations</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/luxe">Luxe</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/sante">Santé</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/public">Secteur Public</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/service">Services</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/social-et-solidarite">Social & Solidarité</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/sport">Sport</a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/telecommunications-medias-divertissements">
                            Télécommunications, Médias et divertissements
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/secteurs/tourisme">Tourisme</a>
                    </li>
                </ul>
            </li>
            <li class="col-lg-3 col-md-6 col-sm-6">
                <h5 class="title">
                    <a href="/expertises">Expertises</a>
                </h5>
                <ul class="footer-expertise-links">
                    <li>
                        <a class="footer-link" href="/expertises/accompagnement-comptable-et-financier">
                            Accompagnement comptable & financier
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/audit-financier">
                            Audit financier
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/conseil">
                            Conseil
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/digital">
                            Digital
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/expertise-comptable">
                            Expertise comptable
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/fiscalite">
                            Fiscalité
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/juridique">
                            Juridique
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/management-strategique">
                            Management stratégique
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/marketing-et-communication">
                            Marketing et communication
                        </a>
                    </li>
                    <li>
                        <a class="footer-link" href="/expertises/rh-de-talents-et-formations">
                            RH de talents et Formations
                        </a>
                    </li>

                </ul>
            </li>
            <li class="contact col-lg-3 col-md-6 col-sm-6">
                <h5 class="title">
                    <a href="/contact">Contact</a>
                </h5>
                <div class="g-row-flex">
                    <div class="sub-section">
                        <i class="g-icon pe-7s-map-marker"></i>
                        <div class="wrapper">
                            5 Avenue Ingres, 75016 Paris
                        </div>
                    </div>
                    <div class="sub-section">
                        <i class="g-icon pe-7s-call"></i>
                        <div class="wrapper">
                            <a href="tel:+33145678900">
                                +33 1 45 67 89 00
                            </a>
                            <a href="tel:+33145678900">
                                +33 1 45 67 89 00
                            </a>
                        </div>
                    </div>
                    <div class="sub-section">
                        <i class="g-icon pe-7s-mail"></i>
                        <div class="wrapper">
                            <a href="mailto:contact@galaxy.com">
                                contact@galaxy.com
                            </a>
                            <a href="mailto:help.contact@galaxy.com">
                                help.contact@galaxy.com
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="g-footer-bottom g-row-flex">
        <div class="copy-right">
            <span> Copyright © <%=new Date().getFullYear() %> </span>
            <a href="/" class="pl-2"> 21 | Galaxy</a>
        </div>
        <div>
            <a class="footer-link" href="/policies/mentions-legales">Mentions légales</a>
        </div>
        <div>
            <a class="footer-link" href="/policies/conditions">Protection de la vie privée et cookies</a>
        </div>
        <div class="social-media">
            <a href="#" class="icon icon-twitter">
                <i class="fab fa-twitter"></i>
                <span class="sr-only">Twitter</span>
            </a>
            <a href="#" class="icon icon-linkedin">
                <i class="fab fa-linkedin-in"></i>
                <span class="sr-only">LinkedIn</span>
            </a>
            <a href="#" class="icon icon-youtube">
                <i class="fab fa-youtube"></i>
                <span class="sr-only">Youtube</span>
            </a>
        </div>
    </div>
</div>