<div class="g-working-order pt-5 pb-1">
    <div class="container">
        <div class="col-12 text-center">
            <h2 class="display-4 g-title-1 ">Notre fonctionnement</h2>
        </div>
        <div class="col-12 text-center p-3">
            <h2 class="g-title-2 g-title-color">21 | GALAXY vous accompagne de A à Z </h2>
        </div>
        <div class="g-work-item-wrapper pt-md-5">
            <ul class="row g-row-flex">
                <li class="col-12 col-md-3 ">
                    <div class="work-item">
                        Prise de contact
                    </div>
                </li>
                <li class="col-12 col-md-3">
                    <div class="work-item">
                        Proposition d'intervention
                    </div>
                </li>
                <li class="col-12 col-md-3">
                    <div class="work-item">
                        Suivi de la mission
                    </div>
                </li>
                <li class="col-12 col-md-3">
                    <div class="work-item delivry">
                        Livraison & suivi
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>