<div class="g-blocks-secteurs pt-5 pb-3">
    <div class="container">
        <ul class="row g-row-flex">
            <li class="block-item col-md-3 col-sm-6 col-12 ">
                <div class="block b-sectors">
                    <a href="/secteurs" class="block-title">Secteurs</a>
                </div>
            </li>
            <li class="block-item col-md-3 col-sm-6 col-12 ">
                <div class="block b-expertises">
                    <a href="#" class="block-title">Expertises</a>
                </div>
            </li>
            <li class="block-item col-md-3 col-sm-6 col-12 ">
                <div class="block b-discover">
                    <a href="#" class="block-title">Découvrez 21 | Galaxy</a>
                </div>
            </li>
            <li class="block-item col-md-3 col-sm-6 col-12 ">
                <div class="block b-contact">
                    <a href="#" class="block-title">Contact</a>
                </div>
            </li>
        </ul>
    </div>
</div>

</div>