<div class="g-about-u pt-3 pb-3">
    <div class="container">
        <div class="col-12 text-center">
            <h2 class="display-4 g-title-1 ">Vous êtes</h2>
        </div>
        <ul class="row g-row-flex pt-5">
            <li class="about-u-item col-md-3 col-sm-6 col-12 ">
                <a href="#" class="item item-entrepreneurs">
                    <span class="item-name">
                        Entrepreneurs
                    </span>
                </a>
            </li>
            <li class="about-u-item col-md-3 col-sm-6 col-12 ">
                <a href="#" class="item item-individuals">
                    <span class="item-name">
                        Particuliers
                    </span>
                </a>
            </li>
            <li class="about-u-item col-md-3 col-sm-6 col-12 ">
                <a  href="#" class="item item-sectors">
                    <span class="item-name">
                        Secteurs publics / Associations
                    </span>
                </a>
            </li>
            <li class="about-u-item col-md-3 col-sm-6 col-12 ">
                <a href="#" class="item item-startups">
                    <span class="item-name">
                        Startups
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>