<div class="swiper-container g-swiper-container">
    <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(/dist/images/img1.jpg)">
                <!-- <div class="swiper-slide-content">
                    <h2>21 | Galaxy - Ancrage en France, réseau internationnal</h2>
                </div> -->
            </div>
            <div class="swiper-slide" style="background-image:url(/dist/images/img2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/dist/images/img3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(/dist/images/img4.jpg)"></div>
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>