
<svg xmlns="http://www.w3.org/2000/svg" id="svg-defs" style="width: 0; height: 0;">
    <defs>
        <symbol id="icon-flag-fr" viewBox="0 0 512 512">
            <title>Flag-fr</title>
            <g fill-rule="evenodd" stroke-width="1pt">
                <path fill="#fff" d="M0 0h512v512H0z" />
                <path fill="#00267f" d="M0 0h170.7v512H0z" />
                <path fill="#f31830" d="M341.3 0H512v512H341.3z" />
            </g>
        </symbol>
    </defs>
</svg>


<div class="g-presentation pt-2">
    <div class="g-presentation-video">
        <div class="container">
            <div class="row align-items-center pt-4 pb-5">
                <div class="col-12 text-center">
                    <h2 class="display-4 g-title-1 ">Un cabinet au service des idées</h2>
                </div>
                <div class="col-lg-6">
                    <div class="pt-4 ">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/67m6e2gedd8?&autoplay=1&mute=1&loop=1&playlist=67m6e2gedd8"
                                allowfullscreen></iframe>
                            <!-- <iframe class="embed-responsive-item" frameborder="1"></iframe> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pt-4">
                        <h2 class="g-title-2 g-title-color">
                            Chaque idée, chaque projet, chaque entreprise contribue
                            au changement de demain.
                        </h2>
                        <div>
                            21 | Galaxy vous aide à transformer vos idées en projet, de son émergence à son ascension.
                            Notre
                            réseau d'experts allie à la fois compétences multiples et connaissance du terrain. Nous vous
                            offrons la possiblité d'entreprendre des projets ambitieux à dimension internationale.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="g-services pt-5 pb-3">
        <div class="container">
            <ul class="row g-row-flex">
                <li class="service-item col-md-4 col-sm-6 col-12 ">
                    <div class="service">
                        <h3 class="service-name">Créer / Gérer ma société</h3>
                        <div class="service-links">
                            <a href="#" class="location fr">
                                <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg>
                                <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i>
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">Marketng & communication</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i> 
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">Investir</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i> 
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">Audit / Finance</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i>
                                <span class="text">à  l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">Affaires publiques</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i>
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">RH et Formation</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i> 
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">Social</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i>
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="service-item col-md-4 col-sm-6 col-12">
                    <div class="service">
                        <h3 class="service-name">Santé</h3>
                        <div class="service-links">
                            <a href="#" class="location fr"> <svg class="g-icon flag-fr">
                                    <use xlink:href="#icon-flag-fr"></use>
                                </svg> <span class="text">en France</span>
                            </a>
                            <a href="#" class="location international">
                                <i class="fa fa-globe"></i>
                                <span class="text">à l'international</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>