<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-sectors">
    <%- include('includes/header'); %>
    <header class="g-masthead">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-secteur">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">

                                <div class="g-collapsible-paragraph content-shown">
                                    <div class="title">Les défis</div>
                                    <div class="content show">
                                        <d>
                                            <div>
                                                <span class="sitename">21 Galaxy</span> comprend les défis auxquels le secteur public fait face : Se conformer
                                                aux exigences de réformes successives, de restrictions budgétaires. Introduction des processus
                                                de contrôle plus affirmés, en accélérant l'optimisation, efforts et en mettant en œuvre des
                                                synergies entre les différents acteurs du secteur puisqu'ils participent conjointement aux
                                                politiques publiques la mise en oeuvre.
                                            </div>
                                            <div>Améliorer l'efficacité de l'action publique…</div>
                                            <div>
                                                … En donnant plus de responsabilités aux gestionnaires publics, en développer
                                                des offres de services aux utilisateurs et en recherchant
                                                solutions innovantes.
                                            </div>
                                            <div>Maximiser les performances et les contrôles des coûts</div>
                                            <div>… En améliorant l'organisation administrative et le travail méthodes.</div>
                                            <div>Contrôler les risques et les activités et améliorer la fiabilité d'information …</div>
                                            <div>… En créant des dispositifs de contrôle répondant aux exigences en matière de transparence questions.</div>

                                            </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Les solutions</div>
                                    <div class="content collapse">
                                        <div class="font-weight-bold">Nos solutions pour répondre aux exigences dues à réformes successives:</div>
                                        <ul class="g-li">
                                            <li>Appliquer de nouvelles approches aux problèmes existants</li>
                                            <li>Mobiliser les meilleurs experts pour chaque service</li>
                                            <li>
                                                Adapter les outils pour mesurer et renforcer la pertinence de l'action publique sur le terrain
                                                et l'alignement de la stratégie
                                            </li>
                                        </ul>
                                        <div class="font-weight-bold">Nos solutions pour vous aider à contrôler votre activité:</div>
                                        <ul class="g-li">
                                            <li>
                                                Compte tenu des relations de service, les frais administratifs
                                                performance, maîtrise des risques et évolution des politiques publiques
                                            </li>
                                            <li>
                                                Tirer parti de chaque projet de simplification de processus ou
                                                dématérialisation de l'environnement de travail, afin de renforcer
                                                le contrôle de l'activité
                                            </li>
                                        </ul>
                                        <div class="font-weight-bold">Nos solutions pour vous aider à vous restructurer vos opérations:</div>
                                        <ul class="g-li">
                                            <li>
                                                Prendre en compte chaque nouvelle problématique dans son environnement stratégique,
                                                car les programmes de transformation des administrations sont complexes
                                            </li>
                                            <li>
                                                Compte tenu des critères d’évaluation non financiers de
                                                la performance de l’organisation pour estimer le retour sur
                                                investissement.
                                            </li>
                                            <li>Créer de la valeur ajoutée pour chaque projet.</li>
                                        </ul>

                                        <div class="font-weight-bold">Nos leviers pour maîtriser les risques et valoriser la fiabilité de l'information :</div>
                                        <ul class="g-li">
                                            <li>Supervision des performances publiques et des organisations en réseau</li>
                                            <li>Rationalisation de la gestion de l'organisation administrative et de la paie</li>
                                            <li>Contrôle et évaluation des politiques publiques et de l'utilisation des fonds européens</li>
                                            <li>Soutien stratégique et opérationnel aux projets de coopération interurbaine</li>
                                        </ul>


                                        <div class="font-weight-bold">Nos solutions pour répondre à d'autres besoins:</div>
                                        <ul class="g-li">
                                            <li>Restructuration des services budgétaires, financiers, comptables et de gestion</li>
                                            <li>Contrôle de la performance des services d'assistance</li>
                                            <li>Sécurisation et optimisation du contrôle interne, préparation à la certification des comptes</li>
                                            <li>Audit comptable et financier</li>
                                            <li>Stratégie financière et fiscale</li>
                                            <li>Performance et gouvernance informatique</li>
                                            <li>Accompagnement dans la gestion de projets stratégiques et commerciaux</li>
                                            <li>Ingénierie des processus de partage et d'externalisation</li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">A l’international</div>
                                    <div class="content collapse">
                                        <div class="font-weight-bold">
                                            <span class="sitename">21 G</span> vous accompagne dans l’élaboration, l’analyse, l’évaluation et la
                                            mise en oeuvre des politiques publiques
                                        </div>
                                        <ul class="g-li">
                                            <li>Exécution des missions des politiques et programmes publiques</li>
                                            <li>Relations avec les acteurs institutionnels</li>
                                            <li>Marchés -- commande publique -- appels d’offre</li>
                                            <li>EPIC, Partenariat-Public-Privé (PPP)</li>
                                            <li>Financements, Aide d’Etat, subventions</li>
                                            <li>Développement territorial</li>
                                            <li>Economie, Education, Environnement, Sport, Santé</li>
                                            <li>Conseil en Diplomatie et Relations internationales</li>
                                            <li>Diplomatie des affaires, Géopolitique, Géoéconomie</li>
                                            <li>OBOR -- CPCE -- Union Africaine, ASEAN; Pays émergents et à fort potentiels -- Nouveau pays Industrialisé</li>
                                        </ul>
                                    </div>
                                </div>

                                <p>
                                    <div class="font-italic font-weight-bold">A noter</div>
                                    <div class="font-italic">
                                        Soucieux d’intégrer les préoccupations environnementales, sociales
                                        et éthiques de notre société dans ses activités, 21 Galaxy s’est engagé dans une
                                        démarche de Responsabilité Sociétale des Entreprises (RSE). Par la mise en place
                                        d’une charte, le cabinet réaffirme son engagement à promouvoir dans ses activités,
                                        et auprès de ses salariés, clients et fournisseurs les principes suivants :
                                        la protection de l’environnement, le respect des droits de l’Homme et des
                                        normes du travail, la promotion d’une pratique professionnelle éthique,
                                        conforme aux principes déontologiques et de transparence les plus élevés de la profession.
                                    </div>
                                </p>
                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/sectors.js"></script>

</html>