<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-sectors">
    <%- include('includes/header'); %>
    <header class="g-masthead">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-secteur">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3> <span class="sitename">21 Galaxy</span> Au service</h3>
                                <p>
                                    Face à l’essor de nouvelles plateformes digitales, de systèmes de paiement en ligne et l’apparition
                                    de nouveaux entrants, les acteurs du secteur des médias, du divertissement et des nouvelles
                                    technologies voient leurs modèles économiques traditionnels profondément transformés. Les entreprises
                                    s’efforcent de renouveler leurs moyens d’intéresser, de capter et de tirer profit d’un consommateur
                                    devenu digital. Ayant mené à bien des centaines de projets dans l’ensemble de ces secteurs,
                                    <span class="sitename">21 Galaxy</span> dispose d’une expérience qui lui permet de conseiller tous
                                    types d’entreprises. Nous permettons à nos clients d'accroître leurs bénéfices et de demeurer
                                    compétitifs dans un contexte de marché incertain
                                </p>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Offre</div>
                                    <div class="content collapse">
                                        <p>
                                            Nos domaines de compétences incluent le développement de stratégies de croissance,
                                            l'assistance aux transactions et l'aide à l’amélioration opérationnelle.
                                            Notre connaissance du secteur et la qualité de nos recommandations permettent d’avoir
                                            un impact significatif sur l’activité de nos clients, dans tous les segments du marché :
                                        </p>
                                        <ul class="g-ul arrow-right">
                                            <li>
                                                Secteur audiovisuel (chaînes câblées, chaînes nationales et locales, satellite, vidéo OTT,
                                                télévision sur IP, vidéos en ligne, production télévisuelle, post-production, etc.)
                                            </li>
                                            <li>
                                                Sociétés de distribution (sociétés de distribution par câble, par satellite, télévision sur IP,
                                                sociétés d'infrastructure OTT)
                                            </li>
                                            <li>Publicité (TV, digital, radio, journaux, affichage extérieur, cinéma, etc.)</li>
                                            <li>Cinéma (studios, salles de cinéma, divertissement familial, distribution au détail, production, post-production, etc.)</li>
                                            <li>Jeux vidéo et réalité virtuelle</li>
                                            <li>Jeux d’argent et paris en ligne</li>
                                            <li>Radio</li>
                                            <li>Spectacles (sports, concerts, théâtre, etc.)</li>
                                            <li>Divertissement sur site (parcs à thème)</li>
                                            <li>Éditeurs (presse en ligne, livres, journaux, magazines, etc.)</li>
                                            <li>Produits sous licences</li>
                                        </ul>
                                    </div>
                                </div>
                                <p>
                                    Nous aidons nos clients à faire face aux défis que posent les nouvelles technologies
                                    en remodelant entièrement les prix, les modèles économiques et l’environnement concurrentiel.
                                </p>

                                <h3> <span class="sitename">21 Galaxy</span> : Investissez dans l’avenir </h3>
                                <p>
                                    <div class="font-italic font-weight-bold">A noter</div>
                                    <div class="font-italic">
                                        Soucieux d’intégrer les préoccupations environnementales, sociales
                                        et éthiques de notre société dans ses activités, <span class="sitename">21 Galaxy</span> s’est engagé dans une
                                        démarche de Responsabilité Sociétale des Entreprises (RSE). Par la mise en place
                                        d’une charte, le cabinet réaffirme son engagement à promouvoir dans ses activités,
                                        et auprès de ses salariés, clients et fournisseurs les principes suivants :
                                        la protection de l’environnement, le respect des droits de l’Homme et des
                                        normes du travail, la promotion d’une pratique professionnelle éthique,
                                        conforme aux principes déontologiques et de transparence les plus élevés de la profession.
                                    </div>
                                </p>

                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/sectors.js"></script>

</html>