<div class="swiper-container g-header-swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide overlay" style="background-image:url(/dist/images/continents.jpg)">
            <div class="slide-body">
                <div class="container">
                    <ul class="g-slide-counters">
                        <li class="g-counter">
                            <div class="icon">
                                <i class="g-icon pe-7s-global"></i>
                            </div>
                            <div class="counter-wrapper">
                                <div class="g-counter-value" data-value="5">5</div>
                                <div class="g-counter-label">Continents</div>
                            </div>
                        </li>
                        <li class="g-counter">
                            <div class="icon">
                                <i class="pe-7s-map-2"></i>
                            </div>
                            <div class="counter-wrapper">
                                <div class="g-counter-value" data-value="35">35</div>
                                <div class="g-counter-label">Pays</div>
                            </div>
                        </li>
                        <li class="g-counter">
                            <div class="icon">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="counter-wrapper">
                                <div class="g-counter-value" data-value="120">120</div>
                                <div class="g-counter-label">Collaborateurs</div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="swiper-slide overlay" style="background-image:url(/dist/images/city.jpg)">
            <div class="slide-body">
                <div class="container">
                    <div class="slide-caption">
                        <h1 class="slide-title">21 | Galaxy - Ancrage en France, réseau internationnal</h1>
                        <p class="slide-desc">
                            Avec 21 Galaxy profitez d'un hub et d'un réseau d'experts
                            implanté sur 4 contients (Europe, Afrique, Asie et Amerique latine)
                            et 35 pays.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide overlay" style="background-image:url(/dist/images/desert.jpg)">
            <div class="slide-body">
                <div class="container">
                    <div class="slide-caption">
                        <h1 class="slide-title">Oser - Impacter - Changer</h1>
                        <p class="slide-desc">
                            Avec 21 Galaxy profitez d'un hub et d'un réseau d'experts
                            implanté sur 4 contients (Europe, Afrique, Asie et Amerique latine)
                            et 35 pays.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next g-swiper-button"></div>
    <div class="swiper-button-prev g-swiper-button"></div>
    <div class="swiper-pagination"></div>
</div>