<div class="g-partner pt-5 pb-3">
    <div class="container">
        <div class="col-12 text-center">
            <h2 class="display-4 g-title-1 ">Partenaires</h2>
        </div>
        <div class="col-12 text-center pt-3">
            <h3 class="g-title-2 g-title-color">Ils nous font confiance</h3>
        </div>
        <div class="container">
            <ul class="row g-row-flex justify-content-center">
                <li class="partner-item">
                    <a href="#" class="partner">
                        <img src="/dist/images/img6.jpg" alt="Image partener" class="img-fluid rounded ">
                    </a>
                </li>
                <li class="partner-item">
                    <a href="#" class="partner">
                        <img src="/dist/images/img6.jpg" alt="Image partener" class="img-fluid rounded ">
                    </a>
                </li>
                <li class="partner-item">
                    <a href="#" class="partner">
                        <img src="/dist/images/img6.jpg" alt="Image partener" class="img-fluid rounded ">
                    </a>
                </li>
                <li class="partner-item">
                    <a href="#" class="partner">
                        <img src="/dist/images/img6.jpg" alt="Image partener" class="img-fluid rounded ">
                    </a>
                </li>
                <li class="partner-item">
                    <a href="#" class="partner">
                        <img src="/dist/images/img6.jpg" alt="Image partener" class="img-fluid rounded ">
                    </a>
                </li>
                <li class="partner-item">
                    <a href="#" class="partner">
                        <img src="/dist/images/img6.jpg" alt="Image partener" class="img-fluid rounded ">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>