<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/dist/css/app.css">

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <%- include('includes/header'); %>
    <main id="main">
        <div class="content g-sectors-list">
            <div class="g-secteurs-listing pt-4 pb-5">
                <div class="container">
                    <div class="text-center">
                        <h2 class="display-4 g-title ">Tous les secteurs</h2>
                    </div>
                    <ul class="row g-row-flex pt-3">
                        <li class="secteur-item col-12 ">
                            <a href="/secteurs/bancaire" class="secteur p-3">
                                Bancaire
                            </a>
                        </li>
                        <li class="secteur-item col-12 ">
                            <a href="/secteurs/assurance" class="secteur p-3">
                                Assurance
                            </a>
                        </li>
                        <li class="secteur-item col-12 ">
                            <a href="/secteurs/education" class="secteur p-3">
                                éducation
                            </a>
                        </li>
                        <li class="secteur-item col-12 ">
                            <a href="/secteurs/immobilier-et-btp" class="secteur p-3">
                                Immobilier et BTP
                            </a>
                        </li>
                        <li class="secteur-item col-12 ">
                            <a href="/secteurs/energie-et-environnement" class="secteur p-3">
                                Energie et Environnement
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/main.js"></script>

</html>