<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
    <link rel="stylesheet" href="/dist/css/policies.css">
</head>

<body class="galaxy-policies">
    <%- include('includes/header'); %>
    <header class="g-masthead">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-policy">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3>
                                    Charte de confidentialité :
                                    Politique de protection des données personnelles
                                </h3>
                                <h4>Préambule</h4>

                                <p>
                                    Particulièrement attaché aux principes de protection des données personnelles,<span class="sitename"> 21 Galaxy </span>s’engage
                                    vis-à-vis des utilisateurs de son Site à respecter les principes de la réglementation européenne.
                                </p>
                                <p>
                                    La présente politique de protection des données a pour objet d’informer les utilisateurs des engagements
                                    et mesures pris par la société<span class="sitename"> 21 Galaxy </span>afin de veiller à la protection de leurs données.
                                </p>
                                <p>
                                    La présente politique est susceptible d’évoluer en fonction du contexte légal et règlementaire,
                                    ainsi que des prises de position de l’autorité de contrôle en matière de protection des données
                                    (la Commission Informatique et Libertés).
                                </p>

                                <h3>
                                    Identité du responsable de traitement et de son délégué a la
                                    Protection des données
                                </h3>

                                <p>
                                    Les traitements de données à caractère personnel mis en œuvre dans le cadre du site www.21galaxy.com
                                    sont intégrés dans la liste des traitements du délégué à la protection des données de la société
                                   <span class="sitename"> 21 Galaxy </span>SAS.
                                </p>
                                <p>
                                    Le responsable de traitement est<span class="sitename"> 21 Galaxy </span>SAS, inscrite au registre du Commerce et des Sociétés,
                                    sous le numéro ... R.C.S. Nanterre, dont le siège social est situé ..., dont le représentant est ...
                                    en qualité de président du Directoire de la société Galaxy 21.
                                </p>
                                <p>
                                    Le délégué à la protection des données est Nouhoun.Traore– dont les coordonnées sont
                                    <a href="mailto:Nouhoun.Traore@21galaxy.com">Nouhoun.Traore@21galaxy.com</a>
                                </p>

                                <h3>Donnees collectees et finalités de la collecte</h3>

                                <p>
                                    Le Site internet de<span class="sitename"> 21 Galaxy </span>met en œuvre un système de collecte et de traitement de données
                                    personnelles échangées à l'occasion de son accès par l’utilisateur.
                                </p>
                                <p>
                                    Les données personnelles de l’utilisateur qui sont collectées directement (par exemple lors
                                    de la connexion sur l'espace clients, lors de la transmission d'une question via la page contact
                                    ou lors du dépôt de CV via le formulaire approprié) ou indirectement (les données de connexions)
                                    répondent à des finalités explicites, légitimes et déterminées.
                                </p>
                                <p>Elles sont utilisées par<span class="sitename"> 21 Galaxy </span>:</p>
                                <ul class="g-li">
                                    <li>Soit à des fins statistiques ;</li>
                                    <li>Soit pour enrichir le contenu éditorial et l’adapter aux besoins des utilisateurs ;</li>
                                    <li>
                                        Soit pour répondre aux sollicitations et aux demandes d’informations sur les services offerts
                                        par 21 Galaxy. A cet effet, il peut être nécessaire que<span class="sitename"> 21 Galaxy </span>rappelle l’utilisateur par
                                        téléphone ou que<span class="sitename"> 21 Galaxy </span>communique avec l’utilisateur par courrier électronique ;
                                        Soit pour la gestion des inscriptions aux événements organisés par<span class="sitename"> 21 Galaxy </span>ou de l’abonnement des
                                        utilisateurs aux publications du blog ;
                                    </li>
                                    <li>
                                        Soit pour le recrutement. Si l’utilisateur communique un CV ou une candidature en ligne,
                                       <span class="sitename"> 21 Galaxy </span>utilisera ces données personnelles pour des utilisations relatives au recrutement,
                                        ce qui peut impliquer que<span class="sitename"> 21 Galaxy </span>contactera l’utilisateur par courrier électronique, par téléphone
                                        ou par courrier postal. Dans certains cas, il pourra être demandé à l’utilisateur de s’inscrire sur
                                        le site internet de 21 Galaxy. Sauf demande contraire de votre part,<span class="sitename"> 21 Galaxy </span>pourra conserver
                                        pendant un certain temps ces données personnelles dans ses dossiers pour éventuellement contacter
                                        l’utilisateur dans le futur pour d’autres opportunités d’emploi chez 21 Galaxy.
                                    </li>
                                </ul>

                                <p>
                                    Ces finalités ont été portées à la connaissance du délégué à la protection des données de 21 Galaxy,
                                    qui les a intégrées dans son registre des activités de traitement.
                                    La communication de données personnelles dans ce cadre est volontaire. Si l’utilisateur ne fournit
                                    pas ces données personnelles, il ne pourra pas bénéficier des services correspondants proposés par
                                    les sites internet de<span class="sitename"> 21 Galaxy </span>, tels la communication, le téléchargement de documents
                                    ou le recrutement.
                                </p>
                                <p>
                                    Lorsque l’utilisateur fournit des données personnelles sur le site internet de 21 Galaxy, il
                                    garantit avoir reçu les autorisations et consentements nécessaires des personnes concernées
                                    par ces données personnelles si elles concernent d’autres personnes que lui et, le cas échéant,
                                    pour les utilisations décrites dans les présentes conditions générales d’utilisation.
                                </p>
                                <p>
                                    En règle générale,<span class="sitename"> 21 Galaxy </span>ne collecte pas de données personnelles sensibles par le biais de son
                                    site internet. En fournissant volontairement à<span class="sitename"> 21 Galaxy </span>des données personnelles sensibles sans
                                    qu’elles lui soient demandées (par exemple en soumettant un CV ou une candidature en ligne),
                                    l’utilisateur consent expressément à ce que ses données personnelles soient utilisées comme décrit
                                    dans les présentes conditions générales d’utilisation.
                                </p>

                                <h3>Informations des utilisateurs</h3>
                                <p>
                                    Conformément au Règlement européen sur la Protection des Données Personnelles n°2016/679
                                    (ci-après le RGPD),<span class="sitename"> 21 Galaxy </span>informe les utilisateurs de son Site sur les traitements de données
                                    à caractère personnel qu’il met en œuvre. Ainsi,<span class="sitename"> 21 Galaxy </span>informe :
                                </p>
                                <ul class="g-li">
                                    <li>
                                        De l’identité du responsable du traitement et du délégué à la protection des données :
                                        <ul class="g-li-default">
                                            <li>
                                                <strong>Responsable de traitement</strong> : 21 Galaxy, SAS au capital de ... Euros, inscrite au registre
                                                du Commerce et des Sociétés, sous le numéro 525 031 522 R.C.S. Nanterre, dont le siège social
                                                est situé ...
                                            </li>
                                            <li>
                                                <strong>Représentant du responsable de traitement</strong> : Yves de Sevin en qualité de Président du Directoire
                                                de la société 21 Galaxy.
                                            </li>
                                            <li><strong>Délégué à la Protection des Données</strong> : Herman Singh , ...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        De la finalité poursuivie par le traitement auquel les données sont destinées :
                                        <ul class="g-li-default">
                                            <li>A des fins statistiques ;</li>
                                            <li>Pour enrichir le contenu éditorial et l’adapter aux besoins des utilisateurs ;</li>
                                            <li>
                                                Pour répondre aux sollicitations et aux demandes d’informations sur les services
                                                offerts par<span class="sitename"> 21 Galaxy </span>;
                                            </li>
                                            <li>
                                                Pour la gestion des inscriptions aux événements organisés par<span class="sitename"> 21 Galaxy </span>ou de l’abonnement
                                                des utilisateurs aux publications de 21 Galaxy
                                            </li>
                                            <li>Pour la gestion des candidatures et des CV</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Du caractère obligatoire ou facultatif des réponses : les champs accompagnés d’un astérisque
                                        sont des champs obligatoires
                                    </li>
                                    <li>
                                        Des destinataires des données :
                                        <ul class="g-li-default">
                                            <li>
                                                Les services concernés de la société<span class="sitename"> 21 Galaxy </span>;
                                            </li>
                                            <li>Les prestataires techniques qui interviennent dans le processus de diffusion du Site.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        Des droits d’accès, de rectification et modification, de limitation, de suppression des données
                                        des utilisateurs, de leurs droits d’opposition pour des motifs légitimes, de leurs droits
                                        d’opposition à ce que les données soient utilisées à des fins de prospection commerciale et de
                                        leur droit de définir des directives relatives au sort de leurs données à caractère personnel
                                        après leur décès.
                                    </li>
                                </ul>

                                <h3>Droits des utilisateurs</h3>

                                <p>
                                    L’utilisateur dispose notamment d’un droit d’accès, de rectification et modification,
                                    de limitation et de suppression.
                                </p>
                                <p>
                                    Il dispose également d’un droit d’opposition au traitement de ses données personnelles pour
                                    des motifs légitimes, ainsi que d’un droit d’opposition à ce que ses données soient utilisées à des
                                    fins de prospection commerciale.
                                </p>
                                <p>
                                    Il dispose enfin du droit de définir des directives générales et particulières définissant la
                                    manière dont il entend que soient exercés, après son décès, ces droits.
                                </p>
                                <p>
                                    L’utilisateur dispose, en tout état de cause, du droit d’introduire une réclamation
                                    auprès de la CNIL.
                                </p>
                                <p>
                                    Pour exercer ses droits, l’utilisateur doit adresser un courrier au Délégué à la Protection des
                                    Données de la société Galaxy 21, accompagné de la photocopie d’un titre d’identité comportant sa
                                    signature, à l’adresse postale suivante :<span class="sitename"> 21 Galaxy </span>- 4,6 avenue ..., 92982 Paris La Défense
                                    Cedex ou à l’adresse de courrier électronique ...
                                </p>

                                <h3>Destinataires des données</h3>
                                <p>
                                    Les destinataires de vos données à caractère personnel sont les services concernés de
                                    la société 21 Galaxy.
                                </p>
                                <p>
                                    Ces données personnelles ne sont pas communiquées à des tiers hormis les prestataires
                                    techniques externes qui interviennent dans le processus de diffusion du Site.<span class="sitename"> 21 Galaxy </span>a
                                    pour règle de demander à ces prestataires externes de traiter les données personnelles conformément
                                    aux engagements de<span class="sitename"> 21 Galaxy </span>en matière de confidentialité et de sécurité.
                                </p>


                                <h3>Conservation des données</h3>

                                <p>
                                   <span class="sitename"> 21 Galaxy </span>ne conserve les données à caractère personnel de ses utilisateurs que pendant le
                                    temps nécessaire aux opérations pour lesquelles elles ont été collectées et dans le respect
                                    de la réglementation en vigueur. Ainsi, les données relatives aux clients sont conservées pendant
                                    la durées des relations contractuelles, augmentée de trois (3) ans à des fins d’animation et de
                                    prospection, sans préjudice des obligations de conservation ou des délais de prescription.
                                </p>
                                <p>
                                    Les données relatives aux prospects sont conservées pendant une durée de trois (3) ans à compter
                                    du dernier contact entrant avec le cabinet.
                                </p>
                                <p>
                                    Les données relatives aux CV sont conservées deux (2) ans à compter du dernier contact avec le
                                    candidat.
                                </p>

                                <h3>Sécurité</h3>

                                <p>
                                   <span class="sitename"> 21 Galaxy </span>assure la sécurité de vos données à caractère personnel en mettant en place une protection
                                    des données renforcée par l’utilisation de moyens de sécurisation physiques et logiques.
                                </p>
                                <p>
                                   <span class="sitename"> 21 Galaxy </span>a mis en place une politique de protection des données personnelles contre leur perte,
                                    usage abusif, modification ou destruction. Tout membre de<span class="sitename"> 21 Galaxy </span>qui accède à ces informations
                                    est informé de leur caractère confidentiel. En outre,<span class="sitename"> 21 Galaxy </span>veille à ce que ses prestataires
                                    techniques susceptibles d’avoir connaissance des données personnelles, respectent la même
                                    confidentialité.
                                </p>
                                <p>
                                    Toutefois, il est important que l’utilisateur sache qu’étant donné que le réseau internet est ouvert
                                    à tous et non sécurisé,<span class="sitename"> 21 Galaxy </span>ne peut être tenu pour responsable de la sécurité des transmissions
                                    des données personnelles par internet.
                                </p>

                                <h3>Cookies</h3>
                                <h5>Définition</h5>

                                <p>
                                    Les cookies sont des données stockées dans l’équipement terminal d’un internaute et utilisées
                                    par le site pour envoyer des informations au navigateur de l’internaute, et permettant à ce
                                    navigateur de renvoyer des informations au site d’origine (par exemple un identifiant de session,
                                    le choix d’une langue ou une date).
                                </p>
                                <p>
                                    Les cookies permettent de conserver, pendant la durée de validité du cookie concerné, des informations
                                    d’état lorsqu’un navigateur accède aux différentes pages d’un site web ou lorsque ce navigateur
                                    retourne ultérieurement sur ce site web.
                                </p>
                                <p>Seul l’émetteur d’un cookie peut lire ou modifier les informations qui y sont contenues.</p>
                                <p>Il existe différents types de cookies :</p>

                                <ul class="g-li">
                                    <li>Des cookies de session qui disparaissent dès que vous quittez le site ;</li>
                                    <li>
                                        Des cookies permanents qui demeurent sur votre terminal jusqu’à expiration de leur durée de vie ou
                                        jusqu’à ce que vous les supprimiez à l’aide des fonctionnalités de votre navigateur.
                                    </li>
                                </ul>

                                <p>
                                    Vous êtes informé que, lors de vos visites sur le site, des cookies peuvent être installés sur votre
                                    équipement terminal.
                                </p>

                                <h5>Finalités des cookies utilisés</h5>
                                <p>
                                    Les cookies utilisés par<span class="sitename"> 21 Galaxy </span>sont utilisés dans le but d’analyser la fréquentation
                                    et l’utilisation qui est faite du site.
                                </p>
                                <h5>Quels cookies utilisons-nous ?</h5>

                                <p>
                                    Les cookies utilisés sur le site sont les cookies de tiers limitativement choisis par
                                   <span class="sitename"> 21 Galaxy </span>dans le but de réaliser des objectifs déterminés.
                                </p>
                                <p>21 Galaxy utilise les services de la société américaine Google Inc.</p>
                                <p>
                                    Les données collectées grâce aux cookies sont transmises et stockées par Google Inc..
                                    Google Inc. est adhérente du Privacy Shield (EU-U.S. Privacy Shield draft adequacy decision
                                    du 12 juin 2016) et assure donc un niveau de protection adéquat des données personnelles.
                                </p>
                                <p>
                                    Le service Google Analytics permet de comptabiliser les visiteurs et d’identifier la manière dont ils
                                    utilisent le site. Ces cookies sont déposés et lus sur l’équipement terminal de l’utilisateur et dès
                                    que celui-ci accède à un site web utilisant le service « Google Analytics ».
                                </p>

                                <p>Les données générées par ces cookies concernent :</p>
                                <ul class="g-li">
                                    <li>votre utilisation du site ;</li>
                                    <li>
                                        votre adresse IP afin de déterminer la ville de connexion. Cette donnée est immédiatement anonymisée
                                        après localisation et n’est pas communiquée à la société 21 Galaxy.
                                    </li>
                                </ul>
                                <p>
                                    Vous pouvez obtenir plus d’informations sur le service Google Analytics en vous rendant à la page
                                    <a href="http://www.google.com/analytics/learn/privacy.html">
                                        http://www.google.com/analytics/learn/privacy.html
                                    </a>
                                </p>

                                <h5>Consentement</h5>
                                <p>
                                    Lorsque vous naviguez sur notre site web, le dépôt et la lecture de cookies permettent d’analyser votre
                                    navigation et de mesurer l’audience du site internet 21 Galaxy.
                                </p>
                                <p>
                                    Vous avez également la possibilité de gérer les cookies utilisés sur le site en paramétrant votre
                                    navigateur, comme détaillé ci-après.
                                </p>
                                <h5>Gestion des cookies</h5>

                                <p>Vous disposez de plusieurs options pour supprimer les cookies.</p>
                                <p>
                                    En effet, si la plupart des navigateurs sont paramétrés par défaut et acceptent l’installation
                                    de cookies, vous avez la possibilité, si vous le souhaitez, de choisir d’accepter tous
                                    les cookies, ou de les rejeter systématiquement ou encore de choisir ceux que vous acceptez
                                    selon l’émetteur. Pour se faire, <span class="btn-danger">cliquer ici (redirection)</span>.
                                </p>
                                <p>
                                    Vous pouvez également paramétrer votre navigateur pour accepter ou refuser au cas par cas les cookies
                                    préalablement à leur installation. Vous pouvez également régulièrement supprimer les cookies de votre
                                    terminal via votre navigateur.
                                </p>
                                <p>
                                    N’oubliez pas de paramétrer l’ensemble des navigateurs de vos différents terminaux (tablettes,
                                    smartphones, ordinateurs).
                                </p>
                                <p>
                                    Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente.
                                    Elle est décrite dans le menu d’aide de votre navigateur, qui vous permettra de savoir de quelle
                                    manière modifier vos souhaits en matière de cookies.
                                </p>
                                <p>
                                    Toutefois, nous vous informons qu’en paramétrant votre navigateur pour refuser les cookies, certaines
                                    fonctionnalités, pages, espaces du site ne seront pas accessibles, ce dont nous ne saurions être
                                    responsables.
                                </p>
                                <p>
                                    Nous attirons également votre attention sur le fait que, lorsque vous vous opposez à l’installation
                                    ou à l’utilisation d’un cookie, un cookie de refus est installé sur votre équipement terminal.
                                </p>
                                <p>
                                    Si vous supprimez ce cookie de refus, il ne sera plus possible de vous identifier comme ayant refusé
                                    l’utilisation de cookies.
                                </p>
                                <p>
                                    De même, lorsque vous consentez à l’installation de cookies, un cookie de consentement est installé.
                                    Les cookies de consentement ou de refus doivent rester sur votre équipement terminal.
                                </p>

                                <h3>Contact</h3>

                                <p>
                                    Pour toute demande d’information concernant la politique de protection des données personnelles,
                                    l’utilisateur peut adresser un courrier au délégué à la protection des données de la société
                                   <span class="sitename"> 21 Galaxy </span>à l’adresse postale suivante :<span class="sitename"> 21 Galaxy </span>– 34 avenue Montaigne, 75... Paris ou par
                                    courrier électronique : ...

                                </p>
                                <p>
                                    Dans la stricte limite de ce qui est exposé ci-dessus, l’utilisateur autorise 21 Galaxy
                                    à conserver et à traiter les données personnelles communiquées lors de l'accès et de la visite
                                    sur le Site.
                                </p>

                                <h3>Notification de modifications de la présente charte</h3>
                                <p>
                                    Pour vérifier les mises à jour de ces conditions, il convient de consulter 
                                    régulièrement cette page.
                                </p>

                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/policies.js"></script>

</html>