<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-poles">
    <%- include('includes/header'); %>
    <header class="g-masthead" style="background-image: url(/dist/images/poles/marketing-communication.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-pole">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3> <span class="sitename">21 Galaxy</span> : État d'esprit global, vision locale</h3>

                                <p>
                                    Notre réseau mondial vous fournira les connaissances locales pour vous aider à développer
                                    votre activité dans le monde entier.
                                </p>
                                <p>
                                    A travers le pôle Marketing et Communication, nous vous accompagnons dans la réalisation d’une
                                    analyse marketing approfondie de votre situation,
                                    <strong>nous vous conseillons dans votre stratégie marketing</strong>, et nous sommes à
                                    vos côtés dans le déploiement de vos actions de marketing opérationnel.
                                </p>
                                <p>
                                    Nous vous conseillons sur la stratégie à mettre en place pour votre
                                    <strong>communication digitale</strong> :
                                </p>
                                <ul class="g-ul star">
                                    <li>Analyse de vos objectifs</li>
                                    <li>Audit de votre présence en ligne</li>
                                    <li>Recommandations sur les médias adaptés (site web, réseaux sociaux, etc ...)</li>
                                </ul>

                                <p>
                                    Nous optimisons votre <strong>présence sur internet</strong> (SEO & SEA) et
                                    définissons votre plan d’action digital.
                                </p>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Marketing</div>
                                    <div class="content collapse">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Marketing Digital</div>
                                    <div class="content collapse">
                                        <p>
                                            Nous vous proposons l'expertise sur-mesure de notre écosystème pour votre
                                            <strong>stratégie communication</strong> print et digitale :
                                        </p>
                                        <ul class="g-ul star">
                                            <li>Réalisation de motion design</li>
                                            <li>Sites internet premium</li>
                                            <li>SEO, branding</li>
                                            <li>Plaquettes et brochures</li>
                                            <li>Réseaux sociaux</li>
                                            <li>Création & Gestion de votre e-commerce</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Formation en Communication & Marketing </div>
                                    <div class="content collapse">
                                        <p>
                                            Bâtir une stratégie marketing performante est cruciale pour l'entreprise
                                            aujourd'hui si elle souhaite promouvoir l'image de sa marque, toucher son coeur de cible,
                                            vendre ses produits/services et fidéliser clientèle. 21 Galaxy vous offre des séances de coaching
                                            sur-mesure pour apprivoiser les étapes clés du marketing digital et cibler les outils adaptés à
                                            vos prospects et prescripteurs.
                                        </p>
                                        <ul class="g-ul diamond">
                                            <li><strong>Workshop en marketing</strong> :</li>

                                            <ul class="g-ul checkmark">
                                                <li>
                                                    Formation <strong>"Vision"</strong> : Accroissement de la puissance de la marque et de la
                                                    différentiation concurrentielle.
                                                </li>
                                                <li>
                                                    Formation <strong>"Immersion"</strong> : Le processus de développement et valorisation de la marque
                                                    traduit dans une expérience 360°.
                                                </li>
                                                <li>
                                                    Formation <strong>"Développement"</strong> : Accompagnement au rafraîchissement de la marque et optimisation
                                                    de l'expérience client.
                                                </li>
                                            </ul>

                                            <li><strong>Workshop en E-commerce</strong> :</li>
                                            <ul class="g-ul checkmark">
                                                <li>Acquérir une approche globale et efficace du marketing digital</li>
                                                <li>Intégrer le digital dans les stratégies marketing</li>
                                                <li>
                                                    Optimisation de votre publicité et Bonnes pratiques sur les médias sociaux
                                                    ( Google Ads, Facebook,Linkedin Ads)
                                                </li>
                                                <li>Analyse des besoins des consommateurs</li>
                                                <li>Opportunités innovantes en terme de relation client</li>
                                            </ul>

                                        </ul>
                                    </div>
                                </div>


                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/poles.js"></script>

</html>