<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-poles">
    <%- include('includes/header'); %>
    <header class="g-masthead" style="background-image: url(/dist/images/poles/social-kids.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-pole">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3><span class="sitename">21 Galaxy</span> : Construisez le monde de demain</h3>
                                <h5>Education/animation sociale</h5>

                                <p>
                                    Etant persuadé que l’éducation est à la base de tout, à <span class="sitename">21 Galaxy</span> nous avons fait de ce point
                                    une priorité. L’enfant est notre avenir à tous. Investir en lui c’est investir dans un futur ou
                                    il deviendra un citoyen autonome et acteur de sa société et de l’humanité.
                                </p>

                                <p>
                                    21 Galaxy est composée de personnes compétentes pouvant apporter son expertise a tout structure
                                    accueillant un public (Association, ephad, mecs, mas…) sous certaines condition, en se basant sur
                                    les sources référence général (INSEE, APUR, SIG…) ainsi que les sources propre à la structure( rapport
                                    d’activité, projet éducatif, projet pédagogique ..) nous pouvons établir un diagnostic du public et
                                    proposer des hypothèse d’amélioration dans les différentes composante de la structure (viabilité d’un
                                    projets, restructuration des moyens humains ,matériels ,financier ...) afin d’optimiser les résultats
                                    des projets menés, leur porté géographique et assurer leur pérennité.
                                </p>
                                <p>
                                    De par ce savoir, <span class="sitename">21 Galaxy</span> propose ses services sur différents domaines :
                                </p>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Education</div>
                                    <div class="content collapse">
                                        <p>
                                            <span class="sitename">21 Galaxy</span> propose son expertise aux différents acteurs de l’éducation et de l’intervention
                                            sociale en apportant des hypothèses de solutions par les biais des grands axes éducatifs en
                                            fonction du public
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title"></div>
                                    <div class="content collapse">
                                        <p>
                                            L’animation étant un domaine vaste, <span class="sitename">21 Galaxy</span> par son équipe d’expert propose
                                            après analyse de la situation de la structure, différentes possibilités de projet à mener
                                            afin de répondre aux besoins des publics accueillis
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Social</div>
                                    <div class="content collapse">
                                        <p>
                                            Par le biais d’outils performants, <span class="sitename">21 Galaxy</span> analyse la situation
                                            d’un endroit (structure accueillant du publics, quartier, ville ect…) et propose des hypothèses
                                            d’amélioration de la société ou micro société afin que la qualité de niveau de vie augmente
                                            et surtout devienne pérenne.
                                        </p>
                                    </div>
                                </div>

                                <div>
                                    <div>Particulier : vous n'êtes plus seul.</div>

                                    <p>
                                        Le numérique est devenu une part importante du quotidien et suivre la cadence effrénée du 
                                        passage au tout numérique est compliqué pour bon nombre d'entre nous.
                                    </p>

                                    <p><span class="sitename">21 Galaxy</span> est avec vous tout au long de vos démarches. Au quotidien.</p>

                                    <p>
                                        Que ce soit une assistance juridique, un conseil dans l'administration publique ou bien un 
                                        accompagnement dans vos démarches financières, 21Galaxy de par son équipe d’expert propose après 
                                        analyse de votre situation, la solution la plus adaptée à vos besoins.
                                    </p>

                                    <p>Nous vous accompagnons quelques soit vos attentes</p>
                                    <ul class="g-li-default">
                                        <li>Assistance juridique</li>
                                        <li>Assistance administrative</li>
                                        <li>Assistance fiscale</li>
                                        <li>Assistance sociale</li>
                                    </ul>

                                </div>

                                <p>
                                    <div class="font-italic font-weight-bold">A noter</div>
                                    <div class="font-italic">
                                        Soucieux d’intégrer les préoccupations environnementales, sociales
                                        et éthiques de notre société dans ses activités, 21 Galaxy s’est engagé dans une
                                        démarche de Responsabilité Sociétale des Entreprises (RSE). Par la mise en place
                                        d’une charte, le cabinet réaffirme son engagement à promouvoir dans ses activités,
                                        et auprès de ses salariés, clients et fournisseurs les principes suivants :
                                        la protection de l’environnement, le respect des droits de l’Homme et des
                                        normes du travail, la promotion d’une pratique professionnelle éthique,
                                        conforme aux principes déontologiques et de transparence les plus élevés de la profession.
                                    </div>
                                </p>
                                <div class="g-button-text-wrapper">
                                    <span class="g-button-text">Prenez votre envol !</span>
                                </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/sectors.js"></script>

</html>