<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body>
    <%- include('includes/header'); %>
    <main id="main">
        <div class="content g-sector-bank">
            <div class="pt-4 pb-5">
                <div class="container">
                    <div class="text-center">
                        <h2 class="display-4 g-title ">Secteur bancaire</h2>
                    </div>
                    <div class="p-2">
                        <p>Une offre de de service complèté par les établissements bancaires </p>
                        <ul>
                            <li>
                                <div>L'accélération de la mondialisation.</div>
                                <ul class="pl-3">
                                    <li>Analyse des risques et opportunités dans un monde toujours plus complexe.</li>
                                    <li>Assistance à la réorganisation d'activité.</li>
                                    <li>Intégration des nouvelle contestes réglementaires et fiscales à votre business model.</li>
                                </ul>
                            </li>
                            <li>
                                <div>L'évolution des téchnologies</div>
                                <ul class="pl-3">
                                    <li>Diagnostic préalable du système d'information et financier.</li>
                                    <li>Assistance à la stratégie.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/sectors.js"></script>

</html>