<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body>
    <%- include('includes/header'); %>
    <main id="main">
        <div class="content g-sector-energie">
            <div class="pt-4 pb-5">
                <div class="container">
                    <div class="text-center">
                        <h2 class="display-4 g-title ">Secteur énergie et environnement</h2>
                    </div>
                    <div class="p-2">
                        <p>
                            La question énergétique est aujourd'hui au coeur des questions économiques et politiques.
                            Le secteur énergie est en pleine mutation.
                        </p>
                        <p>
                            Pour répondre à ses transformations sectorielles, les défies se présentent :
                        </p>
                        <ul>
                            <li> <strong>Adopter</strong> son business model à de nouvelle stratégies</li>
                            <li> <strong>Investir</strong> dans les infrastructures d'énergie</li>
                            <li> <strong>Anticiper</strong> les évolutions du marché, les nouvelle politiques et stratégiques</li>
                            <li> <strong>Maîtriser</strong> les risques et <strong>optimiser</strong> ses performances dans cet environnement tres
                                concurrentiel et marqué par une réglementation de plus en plus complexe.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/sectors.js"></script>

</html>