<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body>
    <%- include('includes/header'); %>
    <main id="main">
        <div class="content g-sector-assurance">
            <div class="pt-4 pb-5">
                <div class="container">
                    <div class="text-center">
                        <h2 class="display-4 g-title ">Secteur assurance</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/sectors.js"></script>

</html>