<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body>
    <%- include('includes/header'); %>
    <main id="main">
        <div class="content g-sector-immo">
            <div class="pt-4 pb-5">
                <div class="container">
                    <div class="text-center">
                        <h2 class="display-4 g-title ">Secteur immobilier et BTP</h2>
                    </div>
                    <div class="p-2">
                        <p>
                            Dans un contexte de perpétuelle évolution. <br>
                            Nous adaptons notre approche et nos services à vos besoins en mettant à profit nos connaissance
                            du marché et nos expertises immobilières dans les métiers de l'audit, du conseil et de la
                            fiscalité.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<!-- <script src="/dist/commons.js"></script> -->
<script src="/dist/js/sectors.js"></script>

</html>