<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body>
    <%- include('includes/header'); %>
    <header class="g-masthead bg-bottom" style="background-image: url(/dist/images/accademie-featured-image.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title">Accadémie</h2>

            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-magazine">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3>Le monde s’ouvre à vous </h3>
                                <blockquote class="wp-block-quote">
                                    <p>
                                        Humanity is full of diversity. Let’s help
                                        each other. Be an encourager ! And make the world a better place
                                    </p>
                                    <cite>SINGH AUJLA, Founder and CEO of 21 Galaxy</cite>
                                </blockquote>
                                <p>
                                    <a href="https://www.meltingbook.com/ghettup-for/">
                                        https://www.meltingbook.com/ghettup-for/
                                    </a>
                                </p>
                                <p>
                                    L’Académie est la première école d’initiation à l’entreprenariat. Première étape pour découvrir
                                    les métiers de l'entrepreneuriat, elle s’adresse aux étudiants qui souhaitent travailler dans
                                    le monde des affaires. L’école permet de faire ses premiers pas, d’explorer, de faire ses premières
                                    armes en s’initiant aux différentes pratiques.
                                </p>
                                <p>
                                    Première étape avant une prépa, une formation en faculté ou une école, l’Académie permet
                                    d’approcher d’un peu plus près un milieu qui semble souvent éloigné.
                                </p>

                                <h3>La formation chez 21 Galaxy Academy</h3>
                                <p>
                                    21 Galaxy et Futurs de France se donne pour objectifs de promouvoir la parole étudiante de former
                                    les étudiants à la méthode et d’offrir aux étudiants la possibilité de découvrir le métier des affaires.
                                </p>

                                <h3>Rejoins l’Académie !</h3>
                                <p>
                                    Tu es étudiant à l’université et l'entrepreneuriat t’intéresse, mais tu ne sais pas encore si tu veux
                                    t’orienter de façon définitive dans ce milieu jugé très concurrentiel. Tu es étudiant à l’université
                                    et tu veux faire du business ton métier : tu souhaites t’exercer mais tes compétences restent limitées.
                                    Tu souhaites en savoir plus sur les métiers des affaires, faire un premier stage, te frayer un petit
                                    chemin vers ce rêve qui t’animes, mais ni papa, ni tata ne sont des hommes d’affaires.
                                </p>
                                <d>
                                    L’Académie est faite pour toi. Entre dans l’arène !
                                    Pour rejoindre l’Académie, ou pour toute information :
                                    <div><a href="mailto:academie@21galaxy.com">academie@21galaxy.com</a></div>
                                    <div><a href="https://www.esiee.fr/fr/jour-des-projets">https://www.esiee.fr/fr/jour-des-projets</a></div>
                                    </p>
                                    <p>Les jardins des projets</p>

                                    <div class="g-collapsible-paragraph">
                                        <div class="title">Futurs de France</div>
                                        <div class="content collapse">
                                            <p>Nous misons sur la diversité des talents et les échanges transgénérationnelles.</p>
                                            <p>
                                                Nous sommes parti d’un constat simple : nous apprenons de la même manière, quels que soient les talents
                                                et les préférences de chacun. Or chaque personne est unique.
                                            </p>

                                            <p>
                                                Futurs de France est donc un vivier et un révélateur de talents qui a pour vocation de transformer
                                                le potentiel en concret.
                                            </p>

                                            <p>
                                                Futurs de France a pour ambition de révéler et de rassembler les acteurs qui ont un influence positive
                                                pour les générations futures.
                                            </p>

                                            <p>
                                                L’idée est de sensibiliser le grand public aux initiatives d’avenir qui existent partout à travers le
                                                monde et d’accompagner la transformation positive des entreprises, des villes et des Etats.
                                            </p>

                                            <p>
                                                Futurs de France réunit tous ceux qui luttent pour l’intérêt général au sein des séminaires, des
                                                ateliers et des conférences.
                                            </p>

                                            <h3>En bref</h3>
                                            <ul class="g-ul arrow-right">
                                                <li>Accompagner des porteurs de projet</li>
                                                <li>Initiatives étudiantes</li>
                                                <li>Coup de pouce financier</li>
                                                <li>Ne pas bloquer dans les initiatives</li>
                                            </ul>

                                            <h3>Des séminaires en stratégie</h3>
                                            <p>
                                                <strong>Stratégie d’entreprise</strong> : Élaboration de votre Stratégie d'Entreprise à travers des méthodes
                                                et outils efficaces.
                                            </p>
                                            <p>
                                                <strong>Stratégie commerciale</strong> : Accompagnement à la création d'une Stratégie Commerciale adaptée
                                                à votre marché.
                                            </p>
                                            <p>
                                                <strong>Modèles d’affaires</strong> : Développement d'un Modèle d'Affaires profitable et générant de la
                                                valeur pour le client.
                                            </p>
                                            <p>
                                                <strong>Stratégie de prix</strong> : Création d'une stratégie de prix en adéquation avec le marché et votre
                                                positionnement.
                                            </p>
                                            <p>
                                                <strong>Stratégie internationale</strong> : Transfert d'outils essentiels à l'établissement d'une Stratégie
                                                Internationale efficiente.
                                            </p>

                                            <p>
                                                <strong>Stratégie digitale</strong> : Elaboration d’une stratégie digitale intégrant les opportunités que
                                                présente le monde digital.
                                            </p>

                                            <h3>Séminaire en Innovation</h3>

                                            <p>
                                                <strong>Introduction à l’innovation</strong> : Comprendre l'innovation et ce qu'elle peut apporter
                                                aux organisations
                                            </p>
                                            <p>
                                                <strong>Du burnout à la créativité</strong> : Comment sortir des blocages personnels et sociétaux pour
                                                créer la magie.
                                            </p>

                                            <h3>Séminaire en gestion d’entreprise </h3>
                                            <p>
                                                <strong>Prise de décision</strong> : Accompagnement à la résolution de problèmes et la prise
                                                de décisions
                                            </p>

                                            <p>
                                                <strong>Structure organisationnelle</strong> : Mise en place d'une structure organisationnelle adaptée
                                                à l'environnement.
                                            </p>
                                            <p>
                                                <strong>Ecosystème, Environnement et marché</strong> : Outils et méthodes pour l'analyse de votre
                                                environnement ainsi que de votre marché.
                                            </p>
                                            <p>
                                                <strong>Qualité du dirigeant</strong> : Les qualités personnelles que doit posséder le dirigeant pour exercer
                                                sa fonction.
                                            </p>

                                            <h3>Séminaire en développement des affaires</h3>
                                            <p>
                                                <strong>Stratégie commerciale</strong> : Accompagnement à la création d'une Stratégie Commerciale adaptée
                                                à votre marché.
                                            </p>
                                            <p>
                                                <strong>Plan d’action</strong> : Processus et outils nécessaires à la création d'un plan d'action cohérent et
                                                adapté aux objectifs.
                                            </p>
                                            <p>
                                                <strong>Conquête d’un nouveau marché</strong> : Accompagnement pratique et théorique à la conquête
                                                d'un nouveau marché.
                                            </p>
                                            <p>
                                                <strong>Service commercial</strong> : Structurer et organiser votre service commercial de manière
                                                à répondre aux défis du marché.
                                            </p>

                                            <h3>Séminaire en marketing </h3>
                                            <p>
                                                <strong>La marque niveau 1</strong> : Accroissement de la puissance de la marque et de la différentiation
                                                concurrentielle.
                                            </p>
                                            <p>
                                                <strong>La marque niveau 2</strong> : Le processus de développement et valorisation de la marque traduit dans
                                                une expérience 360°.
                                            </p>
                                            <p>
                                                <strong>La marque niveau 3</strong> : Accompagnement au rafraîchissement de la marque et optimisation de
                                                l'expérience client.
                                            </p>

                                            <h3>Séminaire en internationalisation</h3>
                                            <p>
                                                <strong>Entrée dans un nouveau marché</strong> : Accompagnement méthodologique à l'entrée dans de nouveaux marchés à
                                                l'international.
                                            </p>
                                            <p>
                                                <strong>Stratégie internationale</strong> : Transfert d'outils essentiels à l'établissement d'une Stratégie
                                                Internationale efficiente.
                                            </p>
                                            <p>
                                                <strong>Gestion multiculturelle</strong> : Accompagnement à la reconnaissance, l'intégration et la gestion des
                                                différentes cultures.
                                            </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/accademie.js"></script>

</html>