@import "customize-bootstrap";
@import "~bootstrap/scss/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
@import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css);

@mixin font-face($family, $src, $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
        // IE8 and below
        url('#{$src}.woff') format('woff'),
        // standards
        url('#{$src}.ttf') format('truetype'),
        // Safari, Android, iOS
        url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}
// load icons font first
@include font-face(Pe-icon-7-stroke, '../fonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke');
@import '../fonts/pe-icon-7-stroke/css/pe-icon-7-stroke';

/**
*   App styles
*/
main>.content {
    min-height: 75vh;
}

#svg-defs {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover,
a {
    text-decoration: none;
}

.g-row-flex {
    display: flex;
    flex-wrap: wrap;
}

// .g-row-flex [class*="col-"] {
//     margin-bottom: 30px;
// }

.g-title,
.g-title-1,
.g-title-2 {
    font-family: Catamaran;
}

.g-title {
    color: #2f4a91;
    position: relative;
    text-align: left
}

.g-title-1 {
    font-weight: 700
}

.g-title-2 {
    font-weight: 500;
}

.g-title-color {
    color: #2f4a91
}

.g-title-1 {
    text-align: center;
    /* border-bottom: 1px solid #c5c5c5; */
    border-bottom: 1px solid; // #44546a;
    padding-bottom: 16px;
    // margin-bottom: 40px;
    position: relative;
    // color: #061644;
    color: #2f4a91;
}

.g-title-1:before {
    bottom: -4px;
    content: "";
    height: 8px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
    background-color: #2f4a91;
}

.g-revealable {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
}

.g-reveal {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: transform 0.65s cubic-bezier(0.6, 0.2, 0.1, 1) 0s,
        opacity 0.65s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    transform: none;
}

// ============header============

.navbar-galaxy {
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // background-color: rgba(255,255,255,1);
    // background-color: rgba(0, 0, 0, 0.7);
    // background-color: transparent;
    background-color: #FFF;
    transition: background .2s linear, color .1s linear;
}

.galaxy-app-header.fixed-top .navbar-galaxy {
    // background-color: #44546a !important;
    background-color: #061644 !important;
    opacity: 1;
    transition: opacity .2s linear;
}

.navbar-galaxy .navbar-brand,
.navbar-galaxy .navbar-brand:hover,
.navbar-galaxy .navbar-brand:focus {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    // color: #4c4c4c;
    // color: #666;
    // color: #44546a;
    color: #061644;
}


.navbar-galaxy .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 15px 10px;
    // color: #4c4c4c;
    // color: #44546a;
    color: #061644;
}

.galaxy-app-header.fixed-top .navbar-brand,
.galaxy-app-header.fixed-top .navbar-nav .nav-item .nav-link {
    color: #FFF;
}


.navbar-galaxy {
    .navbar-nav .nav-item .nav-link:hover {
        // color: #89c4f4;
        color: #ed7d31;
    }

    .nav-item #dropdown-language {
        white-space: nowrap;
    }

    .navbar-toggler {
        border: none;
        color: #FFF;
    }

    .navbar-toggler:focus {
        outline: none;
    }

    .navbar-toggler svg {
        display: block;
        overflow: hidden;
        fill: currentColor;
        height: 2.5rem;
        width: 2.5rem;
    }

    .g-icon {
        vertical-align: text-bottom;
        font-size: 1rem
    }
}

/* =========dropdown menus======= */
.navbar-galaxy .dropdown>a {
    cursor: pointer
}

.navbar-galaxy ul.dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: block;
    visibility: hidden;
    opacity: 0;
    display: none;
}

.navbar-galaxy .dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn .5s .1s forwards;
    visibility: visible;
}

.navbar-galaxy .dropdown-menu.dropdown-languages {
    .dropdown-item {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .dropdown-item .g-icon {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        // background-image: url(/dist/images/es.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: -3px;
    }

    .dropdown-item .g-icon.flag-icon-es {
        background-image: url(/dist/images/es.svg);
    }
}

.navbar-galaxy .dropdown-menu li>a {
    display: block;
    position: relative;
    padding: 15px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.4;
    color: #555;
    white-space: nowrap;
}

.navbar-galaxy .dropdown-menu li>a:first-letter {
    text-transform: uppercase;
}

.navbar-galaxy {

    .dropdown-item.active,
    .dropdown-item:active {
        // color: #fff;
        text-decoration: none;
        // background-color: #44546a;
        background-color: inherit;
    }
}

/* =========sections======= */
// .galaxy-h-500 {
//     min-height: 500px;
//     height: 500px;
// }

/* =========home swiper section ======= */

.content {

    >section>*,
    >section {
        min-height: 400px;
    }

    // >section>*,
    >section>.swiper-container {
        height: 500px;
    }

    >section:nth-child(odd) {
        // background-color: #dcdcdc
        background-color: #f5f7f9
    }
}

.g-swiper-container {
    .swiper-wrapper {
        background: #000;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // width: 100% !important;
    }

    .slide-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        color: #FFF;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 100%);
        height: 100%;
    }

    .slide-caption {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 80%;
        max-width: 850px;
    }

    .slide-title,
    .slide-desc {
        // background-color: rgba(0, 0, 0, 0.4);
        padding: .5rem;
        transform: translateY(60px);
        opacity: 0;
    }

    .swiper-slide-active {

        .slide-title,
        .slide-desc {
            // background-color: #061644;
            transform: none;
        }

        .slide-title {
            animation: fadeInDown 1s .2s forwards;
        }

        .slide-desc {
            animation: fadeInUp 1s .8s forwards;
        }
    }

    .slide-body .slide-desc {
        font-size: 1.2rem;
    }

    .g-slide-counters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        .g-counter {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            line-height: 1;
            font-size: 3rem;
            padding: 0 .5rem .5rem 0;
            margin-left: .5rem;
            min-width: 300px;
            // background-color: #061644;
            margin-bottom: .6rem;
            opacity: 0;
            animation-name: none;

            @for $i from 2 through 3 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * .3}s;
                }
            }
        }

        .g-counter.showing {
            opacity: 0;
            // animation-name: fadeInLeft;
            // animation-name: zoomInDown;
            animation-name: zoomIn;
            animation-fill-mode: forwards;
            animation-duration: 1s;
        }

        .g-counter.showed {
            opacity: 1;
        }


        .g-counter .icon {
            padding: 1.5rem;
            margin: .5rem;
            border-right: 1px solid;
            width: 100px;
        }

        .g-counter .counter-wrapper {
            padding: .5rem;
            letter-spacing: 2px;
            text-align: left;
        }

        .g-counter .g-counter-value {
            padding-bottom: .5rem;
            font-size: 4rem;
        }

        .g-counter .g-counter-label {
            font-size: 1.5rem;
            font-weight: 300;
        }

    }

    // .swiper-slide-active .g-slide-counters {
    //     .g-counter {
    //         @for $i from 2 through 3 {
    //             &:nth-child(#{$i}) {
    //                 // transition: all .2s #{$i * .1}s ease-in;
    //                 animation-delay: #{$i * .6}s;
    //             }
    //         }
    //     }
    // }


    .g-swiper-button {
        background-color: rgba(0, 0, 0, 0.01);
        top: 0;
        bottom: 0;
        display: block;
        height: 100%;
        margin: 0;
        padding: 2rem;
        outline: none;
    }

    .swiper-button-prev {
        left: 0;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyA0NCI+PHBhdGggZD0iTTAsMjJMMjIsMGwyLjEsMi4xTDQuMiwyMmwxOS45LDE5LjlMMjIsNDRMMCwyMkwwLDIyTDAsMjJ6IiBmaWxsPSIjRkZGIi8+PC9zdmc+);

    }

    .swiper-button-next {
        right: 0;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNyA0NCI+PHBhdGggZD0iTTI3LDIyTDI3LDIyTDUsNDRsLTIuMS0yLjFMMjIuOCwyMkwyLjksMi4xTDUsMEwyNywyMkwyNywyMnoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=);
    }

    .swiper-pagination-bullet {
        background: #FFF;
    }
}

/* =========galaxy services section======= */

.g-services {
    // background-color: #e6e6e6;
    // background-color: #f8f8ff;
    background-color: #e6e6fa;

    background-image: url(/dist/images/Blockchain-Talks.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .service {
        display: flex;
        flex-direction: column;
        color: #2f4a91;
        min-height: 12rem;
        height: 100%;
        padding: 20px 15px 10px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .service-item {
        margin-bottom: 1.8rem;
    }

    .service:hover {
        transition: all .5s ease;
        box-shadow: 0 0.2rem 0.2rem #e6e6e6;

    }

    .service-name {
        font-weight: 500;
        padding: 0 .2rem 3rem .2rem;
        word-break: break-word;
    }

    .service-links {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: .5rem;
        position: relative;
        z-index: 1;
    }

    .service-links a:hover,
    .service-links a:active .service-links a {
        text-decoration: none
    }

    .service-links a {
        // display: block;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0.2rem;
        position: relative;
        height: 30px;
        max-height: 30px;
        white-space: nowrap;
        overflow: hidden;
    }

    .service-links .g-icon {
        margin-right: 5px;
    }

    .service-links .g-icon.flag-fr {
        height: 25px;
        width: 15px;
        // margin-right: 5px;
    }

    .service-links .location.fr {
        display: flex;
        align-items: center;
        flex-wrap: nowrap
    }

    .service-links a .text {
        display: inline-block;
        color: #0064B7;
    }

    .service-links a:hover .text {
        color: #FFF;
    }

    .service-links a .text::first-letter {
        text-transform: uppercase;
    }

    .service-links a:before {
        content: "";
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        position: absolute;
        width: .3rem;
        z-index: -1;
        transition: width .25s cubic-bezier(.86, 0, .07, 1);
    }

    .service-links a.fr:hover:before {
        background-color: #0064B7;
    }

    .service-links a.international:hover:before {
        background-color: #44546a;
    }

    .service-links a:active,
    .service-links a:hover {
        color: #FFF;
    }

    .service-links a:hover:before {
        width: 100%
    }
}

/* =========galaxy working order section======= */
.g-work-item-wrapper {
    display: flex
}

.g-working-order {
    ul {
        width: 100%;
        overflow: hidden;
        padding: 0 !important;
        margin: 0 !important;
    }

    ul li {
        padding: 0;
        margin: 0 !important;
    }

    .work-item {
        color: #000;
        text-decoration: none;
        padding: 10px 0 10px 45px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #ffc000;
        text-align: center;
        text-transform: capitalize;
        height: 70px;
    }

    .work-item.delivry {
        background-color: #70ad47;
        width: calc(100% - 38px);
    }

    .work-item.delivry:after {
        border-left-color: #70ad47;
    }

    .work-item:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -50px;
        margin-left: 5px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #FFF;
        z-index: 1;
    }

    .work-item:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -50px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ffc000;
        z-index: 2;
    }
}

/* =========galaxy about you section======= */

.g-about-u {

    .item,
    .item:hover {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #44546a;
        min-height: 10rem;
        height: 100%;
        padding: 20px 10px 10px;
        // background-color: #fff;
        border-radius: 4px;
        text-decoration: none;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    .about-u-item {
        margin-bottom: 1.8rem;
    }

    .item-name {
        word-break: break-word;
        font-size: 1.75rem;
    }

    .item {
        background-color: #fff;
        border: 1px solid;
    }

    .item:hover {
        color: #FFF;
        transition: background .4s ease;
    }

    .item-entrepreneurs {
        color: #ff4958;
    }

    .item-entrepreneurs:hover {
        background-color: #ff4958;
    }

    .item-individuals {
        color: #fa621a;
    }

    .item-individuals:hover {
        background-color: #fa621a;
    }

    .item-sectors {
        color: #487ec3;
    }

    .item-sectors:hover {
        background-color: #487ec3;
    }

    .item-startups {
        color: #00a45d;
    }

    .item-startups:hover {
        background-color: #00a45d;
    }
}

/* =========join galaxy section======= */


/* =========galaxy partner section======= */

.g-partner-section {
    background-color: #e6e6fa
}

.g-partner {
    .partner-item {
        align-content: center;
        display: flex;
        justify-content: center;
        margin: .5em;
        min-width: 0;
    }

    .partner-item a {
        background-color: #fff;
        border-radius: 5px;
        border: 2px solid #2f4a91;
        display: inline-flex;
        height: 105px;
        max-width: 100%;
        padding: 5px;
        width: 210px;
    }
}

/* =========galaxy blocks secteurs section======= */
.g-blocks-secteurs {
    display: flex;
    align-items: center;

    .block-item {
        margin-bottom: 1.8rem;
    }

    .block {
        min-height: 10rem;
        padding: 20px 10px 10px;
        // border: 2px solid #2f4a91;
        border: 2px solid;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .block .block-title {
        text-transform: uppercase;
        font-size: 1.75rem;
        word-break: break-word;
    }


    .block {
        background-color: #fff;
        // border: 1px solid;
    }

    .block:hover a {
        color: #FFF;
        transition: background .4s ease;
    }

    .b-sectors,
    .b-sectors a {
        color: #ff4958;
    }

    .b-sectors:hover {
        background-color: #ff4958;
    }

    .b-expertises,
    .b-expertises a {
        color: #fa621a;
    }

    .b-expertises:hover {
        background-color: #fa621a;
    }

    .b-discover,
    .b-discover a {
        color: #487ec3;
    }

    .b-discover:hover {
        background-color: #487ec3;
    }

    .b-contact,
    .b-contact a {
        color: #00a45d;
    }

    .b-contact:hover {
        background-color: #00a45d;
    }
}


/* ========= sectors listing page======= */

.g-sectors-list {
    ul {
        padding: 0 15px;
    }

    .secteur-item {
        margin-bottom: 0;
        padding: 0
    }

    .secteur {
        color: #394EFF;
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.75rem;
        padding-left: 0 !important;
    }

    .secteur-item:nth-of-type(1) .secteur {
        border-top: 1px solid;
    }

    .secteur:hover {
        // background-color: #394EFF;
        // color: #FFF;
        color: #0064B7
    }
}

/* ========= sector energie pages======= */

/* ========= sector bank pages======= */
.g-sector-bank {
    ul li>div {
        font-weight: 700
    }

    ul ul li {
        padding: .5rem
    }
}


/* =========galaxy footer======= */
.galaxy-site-footer {
    background-color: #061644;
    color: #FFF;

    a {
        color: #FFF;
        display: block;
        padding-bottom: .5rem;
    }
}

.g-footer {
    .title {
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    .sub-section {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: .5rem;
        width: 100%;
    }

    .g-icon {
        font-size: 2rem;
        padding-right: .2rem;
        padding-bottom: .3rem;
    }

    .sub-section:not(:last-child) {
        border-bottom: 1px solid #0077b5;
    }

    .g-footer-bottom {
        background-color: rgba(0, 0, 0, .2);
        color: rgba(255, 255, 255, .6);
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1.5rem;
    }

    .g-footer-bottom .copy-right {
        display: flex;
    }

    .social-media a {
        width: 34px;
        height: 34px;
        color: #FFF;
        font-size: 12px;
        display: inline-block;
        margin-left: 15px;
        border-radius: 40px;
        text-align: center;
        border: 2px solid;
    }

    .social-media {
        a.icon-twitter:hover {
            color: #55acee;
        }

        a.icon-linkedin:hover {
            color: #0077b5;
        }

        a.icon-youtube:hover {
            color: #b31217;
        }

        a i {
            position: relative;
            top: 6px;
        }
    }

}

/* 
**********************************
***       Media queries        ***
********************************** 
*/
@include media-breakpoint-down(lg) {
    .g-swiper-container {
        .swiper-slide .slide-caption {
            width: 90%;
        }
    }
}

@include media-breakpoint-down(md) {
    body {
        padding-top: 62px;
    }

    .g-title-1 {
        font-size: 3rem;
    }

    .g-title-2 {
        font-size: 2rem;
    }

    /* ==navbar header== */
    .menu-line {
        $lines-animation-duration: 0.2s;
        $cross-animation-duration: 0.1s;

        transform-origin: 50% 50%;

        /* Transitions: ☰ */
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(5),
        &:nth-of-type(6) {
            transform: translateY(0);
            transition:
                transform $lines-animation-duration cubic-bezier(0.8, 0, 0.4, 1.8) $cross-animation-duration,
                opacity $lines-animation-duration cubic-bezier(1, 0, 1, 0);

            [aria-expanded=true] & {
                opacity: 0;
                transition:
                    transform $lines-animation-duration ease-out,
                    opacity $lines-animation-duration cubic-bezier(1, 0, 1, 0);
            }
        }

        /* Transitions: × */
        &:nth-of-type(3),
        &:nth-of-type(4) {
            transform: rotate(0) scaleX(1);
            transition: transform $cross-animation-duration ease-out;

            [aria-expanded=true] & {
                transition: transform $cross-animation-duration cubic-bezier(0.8, 0, 0.4, 1.8) $lines-animation-duration;
            }
        }

        /* Transforms */
        [aria-expanded=true] & {
            &:nth-of-type(1) {
                transform: translateY(25%);
            }

            &:nth-of-type(2) {
                transform: translateY(12.5%);
            }

            &:nth-of-type(3) {
                transform: rotate(45deg) scaleX(1.3334);
            }

            &:nth-of-type(4) {
                transform: rotate(-45deg) scaleX(1.3334);
            }

            &:nth-of-type(5) {
                transform: translateY(-12.5%);
            }

            &:nth-of-type(6) {
                transform: translateY(-25%);
            }
        }
    }

    .galaxy-app-header,
    .galaxy-app-header.fixed-top {
        position: fixed;
        top: 0 !important;
        opacity: 1 !important;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-galaxy,
    .galaxy-app-header.fixed-top .navbar-galaxy {
        // background-color: #44546a !important;
        background-color: #061644 !important;
    }

    .navbar-galaxy {
        padding-top: .5rem;
        padding-bottom: .5rem;
        // padding: .5rem;
    }

    .galaxy-app-header.fixed-top .navbar-nav .nav-item .nav-link {
        // color: #44546a;
        color: #061644;
    }

    .navbar-galaxy .navbar-brand {
        color: #fff !important
    }

    .navbar-galaxy .navbar-collapse {
        overflow-y: auto;
        max-height: 100%;
        max-height: calc(100vh - 60px);
    }

    .navbar-galaxy .navbar-collapse.navbar-open,
    .navbar-galaxy .navbar-collapse.navbar-closing-js {
        transition: all .4s ease-in-out;
    }

    .navbar-galaxy .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        padding: .3rem 2.5rem;
        background: #FFF;
        z-index: -1;
        box-shadow: 0 8px 8px 0 rgba(63, 63, 70, .25);
        transform: translateY(-100%);
        // transform: translate3d(0,-100%,0);
    }

    .navbar-galaxy .navbar-collapse.navbar-open {
        transform: translateY(64px);
        // transform: translate3d(0,64px,0);
    }

    .navbar-galaxy .navbar-nav .nav-item .nav-link {
        // color: #44546a;
        color: #061644;
        padding-left: 0;
    }

    .navbar-galaxy .dropdown-toggle::after {
        content: none;
    }

    .navbar-galaxy ul.dropdown-menu {
        border: 0;
        position: relative;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1rem;
        box-shadow: none;
    }

    .navbar-galaxy .dropdown.open .dropdown-menu {
        border-left: 1px solid rgba(0, 0, 0, .08);
    }

    //do not open dropdowns on hover
    .navbar-galaxy .dropdown:hover .dropdown-menu {
        animation: none;
        visibility: hidden;
        display: none;
    }

    .navbar-galaxy .dropdown.open .dropdown-menu {
        display: block;
        animation: fadeIn .5s .1s forwards;
        visibility: visible;
    }

    .navbar-galaxy .dropdown-menu li>a {
        padding: 8px 20px;
        padding-left: 0;
    }

    .navbar-galaxy .dropdown-menu li>a:hover,
    .navbar-galaxy .dropdown-menu li>a:focus {
        background-color: inherit;
        color: #ed7d31
    }

    .navbar-galaxy .dropdown .nav-link .caret-wrap {
        position: absolute;
        top: 0px;
        right: 0;
        display: block;
        cursor: pointer;
        border-radius: 3px;
        padding: 15px 10px;
        transition: all 0.3s ease;
    }

    .navbar-galaxy .dropdown .nav-link .caret {
        order: 2;
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 1px;
        transform: rotate(135deg);
        // color: #fff;
        color: #ed7d31;
        border: 2px solid;
        border-left: 0;
        border-bottom: 0;
        top: 0;
        transition: all .3s ease;
        cursor: pointer;
        position: relative;
        left: -5%;
    }

    .dropdown.open .nav-link .caret {
        transform: rotate(-45deg);
    }

    /* =========home swiper section ======= */
    .g-swiper-container {
        .swiper-slide .slide-caption {
            width: auto;
        }
    }

    /* =========galaxy working order section======= */
    .g-working-order ul {
        overflow: unset;
    }

    .g-working-order .work-item {
        width: 100% !important;
    }

    .g-working-order .work-item:before,
    .g-working-order .work-item:after {
        content: none;
    }

    .g-working-order .work-item {

        min-height: 10rem;
        max-width: 20rem;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        color: #000;
        background-color: #ffc000;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

}


@include media-breakpoint-down(sm) {
    .g-title-1 {
        font-size: 2rem;
    }

    .g-title-2 {
        font-size: 1.5rem;
    }

    /* =========home swiper section ======= */
    .g-swiper-container {

        .g-slide-counters .g-counter {
            width: 100%;
            max-width: 360px;
        }
    }
}

/* 
**********************************
***       Keyframes            ***
********************************** 
*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    100% {
        opacity: 1;
    }
}