@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap');

.primary-col .primary-inner {
    font-size: 14px;
    font-family: Roboto, arial, sans-serif;

    p {
        letter-spacing: .2px;
        line-height: 24px;
        margin: 8px 0;
        padding-top: 20px;
    }
}