<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title><%= title %></title>

    <link rel="stylesheet" href="/dist/css/app.css">
</head>

<body class="galaxy-decouvrir">
    <%- include('includes/header'); %>
    <header class="g-masthead" style="background-image: url(/dist/images/decouvrir/nos-valeurs.jpg)">
        <div class="container">
            <div class="g-masthed-content">
                <h2 class="display-4 g-title"><%= headerTitle %></h2>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="content site-content g-decouvrir">
            <div class="content-inner">
                <div class="container">
                    <div class="row">
                        <div class="primary-col col-lg-8">
                            <div class="primary-inner">
                                <h3 class="paragraph-title">Notre code d’éthique</h3>
                                <p>
                                    Notre code d'éthique professionnelle est notre engagement continu à maintenir
                                    et à promouvoir des normes d'intégrité et de confiance commerciales de classe
                                    mondiale, où que nous soyons présents.
                                </p>
                                <p>
                                    Depuis la création de notre groupe, nous avons toujours pensé qu'une entreprise
                                    rentable et durable ne peut exister sans une éthique et une intégrité solides.
                                    Cette conviction est au cœur de notre organisation décentralisée. Notre code d'éthique
                                    des affaires englobe notre respect de la loi et des individus, ainsi que nos
                                    responsabilités envers nos clients et nos parties prenantes.
                                    C'est la base de notre culture éthique.
                                </p>
                                <p>
                                    Le groupe a toujours été une organisation fondée sur des valeurs:
                                    notre groupe Les valeurs font partie de notre ADN. Guidés par nos valeurs,
                                    nous cherchons à adopter un état d'esprit et un comportement éthiques dans toutes
                                    nos activités commerciales quotidiennes. Notre code d'éthique des affaires définit,
                                    explique et formalise nos valeurs, nos principes d'action et nos règles de conduite
                                    et de comportement concernant :
                                </p>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Notre personnel</div>
                                    <div class="content collapse">
                                        <p>
                                            Nous nous engageons à fournir un environnement de travail inclusif et sûr
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Intégrité de l'entreprise</div>
                                    <div class="content collapse">
                                        <p>
                                            En tant qu'entreprise, nous nous engageons à agir de manière responsable sur le marché.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Relations commerciales</div>
                                    <div class="content collapse">
                                        <p>
                                            Nous nous engageons à créer de la valeur et à établir des relations durables,
                                            fondées sur une confiance mutuelle avec nos clients, et à réaliser une croissance
                                            rentable et durable pour le Groupe.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Responsabilité sociale d'entreprise</div>
                                    <div class="content collapse">
                                        <p>
                                            En tant que citoyens responsables, nous soutenons les communautés et respectons
                                            l'environnement dans lequel nous opérons.
                                            Nous suivons notre code de déontologie, peu importe où nous opérons
                                            et quelles que soient les circonstances économiques. Le respect du code d'éthique
                                            commerciale est obligatoire pour la conformité du groupe.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Nos clients</div>
                                    <div class="content collapse">
                                        <p>
                                            Nous devons à nos clients un strict respect de nos obligations commerciales.
                                            En proposant des solutions commerciales et technologiques ainsi que l'expertise
                                            répondant à leurs besoins et en produisant les résultats escomptés, nous établissons
                                            et entretenons avec nos clients des relations de longue date, fondées sur la confiance mutuelle.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Membres de notre équipe</div>
                                    <div class="content collapse">
                                        <p>
                                            Prendre soin des membres de notre équipe, prêter attention à leur développement
                                            de carrière et à leur bien-être, proposer des objectifs ambitieux et des récompenses
                                            équitables, et assurer un personnel diversifié et un environnement de travail sont
                                            essentiels à notre succès global en tant que société axée sur le personnel.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Nos alliances, partenaires et fournisseurs</div>
                                    <div class="content collapse">
                                        <p>
                                            Mener des activités dans les deux sens avec nos alliances, partenaires et fournisseurs,
                                            et se conformer à nos principes d’approvisionnement durable sont indispensables
                                            au respect mutuel et au succès de nos partenariats commerciaux.
                                        </p>
                                    </div>
                                </div>

                                <div class="g-collapsible-paragraph">
                                    <div class="title">Nos communautés</div>
                                    <div class="content collapse">
                                        <p>
                                            Nous accordons une attention particulière aux communautés dans lesquelles nous opérons,
                                            en agissant de manière socialement responsable. Nous participons à de nombreux programmes
                                            communautaires et nous nous engageons à minimiser l’impact de notre activité sur
                                            l’environnement grâce à une démarche continue en faveur du développement durable.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <aside class="sidebar sidebar-col col-lg-4">
                            <div class="sidebar-inner">
                                <div class="text-center">
                                    sidebar / navigation (when necessairy)
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="galaxy-site-footer" role="contentinfo">
        <%- include('includes/footer'); %>
    </footer>

</body>
<script src="/dist/commons.js"></script>
<script src="/dist/js/decouvrir.js"></script>

</html>